



.img-partner {
	/* width: 64px;
	height: 150%; */
	/* overflow: hidden; */
	/* text-align: center; */
    border-radius: 10px;
    /* padding: 0px 30px 0 30px; */
    align-items: center;
    display: flex;
    justify-content: center;
}