<div id="modal">
  <div>
    <div class="shopee-modal__transition-enter-done"></div>
  </div>
  <div tabindex="0" class="_2IJN-0">
    <div class="_1lzg0h">
      <div>
        <div class="shopee-popup-form _2dpFWO">          
          <!-- <video  class="video" controls video-control="ctrl.videoControl" autoplay loop muted playsinline>
            <source src="{{model.fileUrl}}" type="video/mp4">
            Your browser does not support HTML5 video.
          </video> -->
        <div class="icon_close fa fa-times" (click)="cancel()"></div>

          <video loop autoplay controls width='100%' height='95%' src='{{model.fileUrl}}' type='video/mp4'></video>

        </div>
      </div>
    </div>
    <div class="uYEgjK"></div>
  </div>
</div>
