<app-d-t1-header></app-d-t1-header>

<div class="col-md-12 m-0 d-none d-lg-block" style="padding: 0% 10%;">
    <div class="col-md-12">
        <div class="df pointer" style="color:#707070;font-size: 2.1rem;height: 30px;justify-content: start;"
            (click)="navBack()">
            <span *ngIf="serviceProviderService.lang == 'th'">{{'expertBranch'| langTh}}</span>
            <span *ngIf="serviceProviderService.lang == 'en'">{{'expertBranch'| langEn}}</span>
        </div>
        <div class="df font-w600 pointer" style="color:#216DA6;font-size: 3rem;height: 30px;justify-content: start;"
            (click)="navBack()">
            <!-- สำนักงานสัตวแพทยสภา -->
            <span *ngIf="serviceProviderService.lang == 'th'">
                {{modelDetail.centerName}}
            </span>
            <span *ngIf="serviceProviderService.lang == 'en'">
                {{modelDetail.centerNameEN}}
            </span>
        </div>
        <div class="line-c5c5c5"></div>
        <!-- <div class="df" style="margin: 10px 20px">
            <div *ngFor="let category of categoryList" style="flex-wrap: wrap;">
                <div class="menu-law pointer"
                    [class.menu-law-active]="category.code === categorySelected.code"
                    (click)="selectedCategory(category.code)">{{category.title}}</div>
            </div>
        </div> -->
        <div class="col-md-4">
            <a href="{{modelDetail.imageUrl}}" target="_blank">
                <img class="image_border" src="{{modelDetail.imageUrl}}" width="350px" height="480px" alt=""
                    style="padding: 20px;">
            </a>
        </div>
        <div class="col-md-8">
            <div class="font-w500 kanit_xl c-grey07">
                <span *ngIf="serviceProviderService.lang == 'th'">
                    {{modelDetail.title}}
                </span>
                <span *ngIf="serviceProviderService.lang == 'en'">
                    {{modelDetail.titleEN}}
                </span>
            </div>
            <div class="font-w500 kanit_m" style="color: #1B6CA8;">
                <span *ngIf="serviceProviderService.lang == 'th'">
                    ผู้แต่ง
                </span>
                <span *ngIf="serviceProviderService.lang == 'en'">
                    Author
                </span>
                {{modelDetail.author}}
            </div>
            <div style="height: 10px;"></div>
            <div class="col-md-12 p-0">
                <div class="mainbox">
                    <input type="checkbox" id="check">
                    <label *ngIf="serviceProviderService.lang == 'th'" for="check"
                        class="kanit_s c-white pointer news-share">แชร์</label>
                    <label *ngIf="serviceProviderService.lang == 'en'" for="check"
                        class="kanit_s c-white pointer news-share">share</label>
                    <div class="media-icons pointer">
                        <a (click)="shareWithFB()"> <i class="fab fa-facebook"></i></a>
                        <a (click)="shareWithLine()"><i class="fab fa-line"></i></a>
                        <a (click)="copyMessage('This goes to Clipboard')"><i class="fas fa-copy"></i></a>
                    </div>
                </div>
                <div style="width: 10px;"></div>
                <!-- <div class="btn-action background-active pointer" (click)="downloadPDF1()">ดาวน์โหลด</div> -->
            </div>
            <div class="col-md-12 pd0 mt5" *ngIf="modelFile.length > 0">
                <div *ngIf="serviceProviderService.lang == 'th'" class="kanit_s color_grey70">ไฟล์</div>
                <div *ngIf="serviceProviderService.lang == 'en'" class="kanit_s color_grey70">File</div>
                <div class="color_grey70 kanit_s" *ngFor="let m of modelFile">
                    <div class="df pd0 mt5">
                        <span style="font-size: 12px;" class="pointer">
                            <a class="font-des-footer-ra" href="{{m.imageUrl}}" target="_blank">
                                <span *ngIf="serviceProviderService.lang == 'th'">
                                    {{m.title}}
                                </span>
                                <span *ngIf="serviceProviderService.lang == 'en'">
                                    {{m.titleEN}}
                                </span>
                                <span *ngIf="m.size == undefined">(30 MB)</span>
                                <span *ngIf="m.size != undefined && m.size != ''">({{(m.size / 1048567).toFixed(2)}}
                                    MB)</span>
                            </a>
                        </span>
                        <div style="width: 10px;"></div>
                        <div class="btn-action background-active pointer" (click)="downloadPDF(m.imageUrl)">
                            <span *ngIf="serviceProviderService.lang == 'th'">
                                ดาวน์โหลด
                            </span>
                            <span *ngIf="serviceProviderService.lang == 'en'">
                                Download
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pd0 mt5" *ngIf="modelExcel.length > 0">
                <div *ngIf="serviceProviderService.lang == 'th'" class="kanit_s color_grey70">เอกซ์เซล</div>
                <div *ngIf="serviceProviderService.lang == 'en'" class="kanit_s color_grey70">Excel</div>
                <div class="color_grey70 kanit_s" *ngFor="let m of modelExcel">
                    <div class="df pd0 mt5">
                        <span style="font-size: 12px;" class="pointer">
                            <a class="font-des-footer-ra" href="{{m.imageUrl}}" target="_blank">{{m.title}}
                                <span *ngIf="m.size == undefined">(30 MB)</span>
                                <span *ngIf="m.size != undefined && m.size != ''">({{(m.size / 1048567).toFixed(2)}}
                                    MB)</span>
                            </a>
                        </span>
                        <div style="width: 10px;"></div>
                        <div class="btn-action background-active pointer" (click)="downloadPDF(m.imageUrl)">ดาวน์โหลด
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pd0 mt5" *ngIf="modelWord.length > 0">
                <div *ngIf="serviceProviderService.lang == 'th'" class="kanit_s color_grey70">เวิร์ด</div>
                <div *ngIf="serviceProviderService.lang == 'en'" class="kanit_s color_grey70">Word</div>
                <div class="color_grey70 kanit_s" *ngFor="let m of modelWord">
                    <div class="df pd0 mt5">
                        <span style="font-size: 12px;" class="pointer">
                            <a class="font-des-footer-ra" href="{{m.imageUrl}}" target="_blank">{{m.title}}
                                <span *ngIf="m.size == undefined">(30 MB)</span>
                                <span *ngIf="m.size != undefined && m.size != ''">({{(m.size / 1048567).toFixed(2)}}
                                    MB)</span>
                            </a>
                        </span>
                        <div style="width: 10px;"></div>
                        <div class="btn-action background-active pointer" (click)="downloadPDF(m.imageUrl)">
                            ดาวน์โหลด
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pd0 mt5" *ngIf="modelVdo.length > 0">
                <div *ngIf="serviceProviderService.lang == 'th'" class="kanit_s color_grey70">วีดีโอ</div>
                <div *ngIf="serviceProviderService.lang == 'en'" class="kanit_s color_grey70">Vdo</div>
                <div class="color_grey70 kanit_s" *ngFor="let m of modelVdo">
                    <div class="df pd0 mt5">
                        <span style="font-size: 12px;" class="pointer">
                            <a class="font-des-footer-ra" href="{{m.imageUrl}}" target="_blank">{{m.title}}
                                <span *ngIf="m.size == undefined">(30 MB)</span>
                                <span *ngIf="m.size != undefined && m.size != ''">({{(m.size / 1048567).toFixed(2)}}
                                    MB)</span>
                            </a>
                        </span>
                        <div style="width: 10px;"></div>
                        <div class="btn-action background-active pointer" (click)="openModal(m.imageUrl)"> <img
                                src="./assets/img/play.png" width="15px" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 50px;"></div>
            <div style="font-size: 2.5rem;">
                <span *ngIf="serviceProviderService.lang == 'th'">
                    ข้อมูลเอกสาร
                </span>
                <span *ngIf="serviceProviderService.lang == 'en'">
                    Document Information
                </span>
            </div>
            <div style="height: 20px;"></div>
            <div class="df fs1-7">
                <div style="width: 100px;">
                    <span *ngIf="serviceProviderService.lang == 'th'">
                        ผู้แต่ง
                    </span>
                    <span *ngIf="serviceProviderService.lang == 'en'">
                        Author
                    </span>
                </div>{{modelDetail.author}}
            </div>
            <div style="height: 20px;"></div>
            <div class="df fs1-7">
                <div style="width: 100px;">
                    <span *ngIf="serviceProviderService.lang == 'th'">
                        สำนักพิมพ์
                    </span>
                    <span *ngIf="serviceProviderService.lang == 'en'">
                        Publisher
                    </span>
                </div>{{modelDetail.publisher}}
            </div>
            <div style="height: 20px;"></div>
            <div class="df fs1-7">
                <div style="width: 100px;">
                    <span *ngIf="serviceProviderService.lang == 'th'">
                        วันที่เผยแพร่
                    </span>
                    <span *ngIf="serviceProviderService.lang == 'en'">
                        Publish Date
                    </span>
                </div>{{modelDetail.publishDate | dateFormat}}
            </div>
            <div style="height: 20px;"></div>
            <div class="df fs1-7" *ngIf="serviceProviderService.lang == 'th'">
                <div style="width: 100px;">
                    หมวดหมู่
                </div>{{modelDetail.categorytitle}}
            </div>
            <div class="df fs1-7" *ngIf="serviceProviderService.lang == 'en'">
                <div style="width: 100px;">
                    Category
                </div>{{modelDetail.categorytitleEN}}
            </div>
            <div class="df fs1-7 mt15">
                <div style="width: 100px;">
                    <span *ngIf="serviceProviderService.lang == 'th'">
                        ประเภทไฟล์
                    </span>
                    <span *ngIf="serviceProviderService.lang == 'en'">
                        File Type
                    </span>
                </div>PDF
            </div>
            <div class="df fs1-7 mt15">
                <div style="width: 100px;">
                    <span *ngIf="serviceProviderService.lang == 'th'">
                        จำนวนหน้า
                    </span>
                    <span *ngIf="serviceProviderService.lang == 'en'">
                        Number or Pages
                    </span>
                </div>{{modelDetail.numberOfPages}}
            </div>

            <div style="height: 40px;"></div>
            <div *ngIf="serviceProviderService.lang == 'th'" [innerHTML]="modelDetail.description | safeHtml">
            </div>
            <div *ngIf="serviceProviderService.lang == 'en'" [innerHTML]="modelDetail.descriptionEN | safeHtml">
            </div>
            <div style="height: 80px;"></div>
            <div class="col-md-12 pd0" style="margin-bottom: 30px;">
                <div class="mt40 fs2" style=" display: flex; justify-content: center">
                    <button style=" display: flex;
                            height: 100%;
                            align-items: center;border-radius: 15px;background-color: #E19B24;border-color: #E19B24;
                            justify-content: center;width: 17%;padding: 10px;"
                        *ngIf="modelDetail.linkUrl != '' && modelDetail.textButton != ''" (click)="openRef()">
                        <div style="color: #fff;">
                            <p [innerHtml]="modelDetail.textButton"> </p>
                        </div>
                    </button>
                    <div style="width: 15px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 m-0 p-0 d-block d-lg-none" style="background-color: #F7F7F7 !important;">
    <div class="col-xs-12">
        <div class="col-xs-12 pd0">
            <div class="df pointer" style="color:#707070;font-size: 2.1rem;justify-content: start;" (click)="navBack()">
                <span *ngIf="serviceProviderService.lang == 'th'">{{'law'| langTh}}</span>
                <span *ngIf="serviceProviderService.lang == 'en'">{{'law'| langEn}}</span>
            </div>
            <div style="height: 10px;"></div>
            <div class="df font-w600 pointer" style="color:#216DA6;font-size: 20px;justify-content: start;"
                (click)="navBack()">
                <span *ngIf="serviceProviderService.lang == 'th'">{{'vet'| langTh}}</span>
                <span *ngIf="serviceProviderService.lang == 'en'">{{'vet'| langEn}}</span>
            </div>
            <div class="line-c5c5c5"></div>
            <div class="col-xs-12 pd0">
                <div class="col-xs-12 pd0" style="margin: 20px 0px; height: 120vw;">
                    <img src="{{modelDetail.imageUrl}}" width="100%" height="100%" alt="" style="border-radius: 30px;">
                </div>
                <div class="col-xs-12 pd0">
                    <div class="div-title-detail">{{modelDetail.title}}</div>
                    <div class="div-title-detail" *ngIf="serviceProviderService.lang == 'th'">{{modelDetail.title}}
                    </div>
                    <div class="div-title-detail" *ngIf="serviceProviderService.lang == 'en'">{{modelDetail.titleEN}}
                    </div>
                    <div style="height: 15px;"></div>
                    <div class="div-title-menu-detaill">
                        <span *ngIf="serviceProviderService.lang == 'th'">ผู้แต่ง</span>
                        <span *ngIf="serviceProviderService.lang == 'en'">Author</span>
                        {{modelDetail.author}}
                    </div>
                    <div style="height: 15px;"></div>
                    <div *ngIf="modelFile.length > 0">
                        <div *ngIf="serviceProviderService.lang == 'th'" class="div-title-detail">ไฟล์</div>
                        <div *ngIf="serviceProviderService.lang == 'en'" class="div-title-detail">File</div>
                        <div class="color_grey70 kanit_s" *ngFor="let m of modelFile">
                            <div class="df pd0 mt5">
                                <span class="pointer"><a class="font-des-footer-ra" href="{{m.imageUrl}}"
                                        target="_blank">{{m.title}}
                                        <span *ngIf="m.size == undefined">(30 MB)</span>
                                        <span *ngIf="m.size != undefined && m.size != ''">({{(m.size /
                                            1048567).toFixed(2)}}
                                            MB)</span>
                                    </a>
                                </span>
                                <div style="width: 10px;"></div>
                                <div class="btn-action background-active pointer" (click)="downloadPDF(m.imageUrl)">
                                    <span *ngIf="serviceProviderService.lang == 'th'">ดาวน์โหลด</span>
                                    <span *ngIf="serviceProviderService.lang == 'en'">Download</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 15px;"></div>
                    <div *ngIf="modelExcel.length > 0">
                        <div *ngIf="serviceProviderService.lang == 'th'" class="div-title-detail">เอกซ์เซล</div>
                        <div *ngIf="serviceProviderService.lang == 'en'" class="div-title-detail">Excel</div>
                        <div class="color_grey70 kanit_s" *ngFor="let m of modelExcel">
                            <div class="df pd0 mt5">
                                <span class="pointer"><a class="font-des-footer-ra" href="{{m.imageUrl}}"
                                        target="_blank">{{m.title}}
                                        <span *ngIf="m.size == undefined">(30 MB)</span>
                                        <span *ngIf="m.size != undefined && m.size != ''">({{(m.size /
                                            1048567).toFixed(2)}}
                                            MB)</span>
                                    </a>
                                </span>
                                <div style="width: 10px;"></div>
                                <div class="btn-action background-active pointer" (click)="downloadPDF(m.imageUrl)">
                                    <span *ngIf="serviceProviderService.lang == 'th'">ดาวน์โหลด</span>
                                    <span *ngIf="serviceProviderService.lang == 'en'">Download</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 15px;"></div>
                    <div *ngIf="modelWord.length > 0">
                        <div *ngIf="serviceProviderService.lang == 'th'" class="div-title-detail">เวิร์ด</div>
                        <div *ngIf="serviceProviderService.lang == 'en'" class="div-title-detail">Word</div>
                        <div class="color_grey70 kanit_s" *ngFor="let m of modelWord">
                            <div class="df pd0 mt5">
                                <span class="pointer"><a class="font-des-footer-ra" href="{{m.imageUrl}}"
                                        target="_blank">{{m.title}}
                                        <span *ngIf="m.size == undefined">(30 MB)</span>
                                        <span *ngIf="m.size != undefined && m.size != ''">({{(m.size /
                                            1048567).toFixed(2)}}
                                            MB)</span>
                                    </a>
                                </span>
                                <div style="width: 10px;"></div>
                                <div class="btn-action background-active pointer" (click)="downloadPDF(m.imageUrl)">
                                    <span *ngIf="serviceProviderService.lang == 'th'">ดาวน์โหลด</span>
                                    <span *ngIf="serviceProviderService.lang == 'en'">Download</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 15px;"></div>
                    <div *ngIf="modelVdo.length > 0">
                        <div *ngIf="serviceProviderService.lang == 'th'" class="div-title-detail">วีดีโอ</div>
                        <div *ngIf="serviceProviderService.lang == 'en'" class="div-title-detail">Vdo</div>
                        <div class="color_grey70 kanit_s" style="text-align: center;" *ngFor="let m of modelVdo">
                            <div class="df pd0 mt5">
                                <div class="video" style="width: 100%;">
                                    <video controls #videoPlayer style="width: 50%;">
                                        <source src="{{m.imageUrl}}" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 20px;"></div>
                    <div style="font-size: 2.5rem;">
                        <span *ngIf="serviceProviderService.lang == 'th'">
                            ข้อมูลเอกสาร
                        </span>
                        <span *ngIf="serviceProviderService.lang == 'en'">
                            Document Information
                        </span>
                    </div>
                    <div style="height: 20px;"></div>
                    <div class="df fs1-7" *ngIf="serviceProviderService.lang == 'th'">
                        <div style="width: 100px;">
                            หมวดหมู่
                        </div>{{modelDetail.categorytitle}}
                    </div>
                    <div class="df fs1-7" *ngIf="serviceProviderService.lang == 'en'">
                        <div style="width: 100px;">
                            Category
                        </div>{{modelDetail.categorytitleEN}}
                    </div>
                    <div class="df fs1-7 mt15">
                        <div style="width: 100px;">
                            <span *ngIf="serviceProviderService.lang == 'th'">
                                ประเภทไฟล์
                            </span>
                            <span *ngIf="serviceProviderService.lang == 'en'">
                                File Type
                            </span>
                        </div>PDF
                    </div>
                    <div class="df fs1-7 mt15">
                        <div style="width: 100px;">
                            <span *ngIf="serviceProviderService.lang == 'th'">
                                จำนวนหน้า
                            </span>
                            <span *ngIf="serviceProviderService.lang == 'en'">
                                Number or Pages
                            </span>
                        </div>{{modelDetail.numberOfPages}}
                    </div>
                    <!-- <div class="df fs1-7 mt15">
                        <div style="width: 100px;">ขนาด</div>10 MB
                    </div> -->
                    <div style="height: 80px;"></div>
                    <div *ngIf="serviceProviderService.lang == 'th'" class="fs1-7" style="line-height: 1.5;"
                        [innerHtml]="modelDetail.description | safeHtml">
                    </div>
                    <div *ngIf="serviceProviderService.lang == 'en'" class="fs1-7" style="line-height: 1.5;"
                        [innerHtml]="modelDetail.descriptionEN | safeHtml">
                    </div>
                    <div class="col-xs-12 pd0" style="margin-bottom: 20px;">
                        <div class="mt40 fs2" style=" display: flex; justify-content: center">
                            <button style=" display: flex;
                                    height: 100%;
                                    align-items: center;border-radius: 15px;background-color: #E19B24;border-color: #E19B24;
                                    justify-content: center;width: 17%;padding: 10px;"
                                *ngIf="modelDetail.linkUrl != '' && modelDetail.textButton != ''" (click)="openRef()">
                                <div style="color: #fff;">
                                    <p [innerHtml]="modelDetail.textButton"> </p>
                                </div>
                            </button>
                            <div style="width: 15px;"></div>
                        </div>
                    </div>
                    <div class="pointer col-xs-12 div-socialnetwork-m">
                        <div (click)="shareWithFB()">
                            <img class="img-socialnetwork-m" src="./assets/img/Facebook@2x.png">
                        </div>
                        <div (click)="shareWithLine()">
                            <img class="img-socialnetwork-m" src="./assets/img/Line@2x.png">
                        </div>
                        <div (click)="copyMessage('This goes to Clipboard')">
                            <img class="img-socialnetwork-m" src="./assets/img/Copy@3x.png">
                        </div>
                    </div>
                    <div style="height: 20px;"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<modal-video *ngIf="showModal" [model]="modelSelected" (callback)="fromModal($event)"></modal-video>
<app-d-t1-footer></app-d-t1-footer>