<!-- component header type 1 -->
<app-m-t1-header></app-m-t1-header>

<div class="col-xs-12">
    <div class="col-xs-12 p-0">
        <div class="div-imageUrl-detail">
            <img class="image_border" src="{{model.imageUrl}}" alt="" height="200px" width="100%">
        </div>
        <div class="div-title-detail">{{model.title}}</div>
        <div class="col-xs-12 pd0">
            <div class="div-box-date">{{model.updateDate | dateFormat}}
                <div class="mainbox">
                    <input type="checkbox" id="check">
                    <label *ngIf="serviceProviderService.lang == 'th'" for="check" class="label-share pointer">แชร์</label>
                    <label *ngIf="serviceProviderService.lang == 'en'" for="check" class="label-share pointer">share</label>
                    <div class="div-media-icons pointer">
                        <a (click)="shareWithFB()"> <i class="fab fa-facebook"></i></a>
                        <a (click)="shareWithLine()"><i class="fab fa-line"></i></a>
                        <a (click)="copyMessage('This goes to Clipboard')"><i class="fas fa-copy"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 pd0">
            <div class="div-box-date">{{model.updateBy}} &nbsp;&nbsp;&nbsp;&nbsp; {{model.updateDate | datetimeFormat}}</div>
        </div>
        <div class="col-xs-12 pd0">
            <div *ngIf="serviceProviderService.lang == 'th'"  class="div-description-detail" [innerHtml]="model.description | safeHtml"></div>
            <div *ngIf="serviceProviderService.lang == 'en'" class="div-description-detail" [innerHtml]="model.descriptionEN | safeHtml"></div>
        </div>
        <div class="col-xs-12 pd0">
            <div class="div-textButton-detail">
                <button class="button-textButton-detail" *ngIf="model.linkUrl != '' && model.textButton != ''" (click)="openRef()">
                    <div style="color: #fff;">
                        <p [innerHtml]="model.textButton"> </p>
                    </div>
                </button>
                <button class="button-textButton-detail" *ngIf="model.fileUrl != ''" (click)="downloadPDF()">
                    <div style="color: #fff;">
                        <p>ดาวโหลดเอกสาร</p>
                    </div>
                </button>
            </div>
        </div>
        <div class="col-xs-12 pd0">
            <div class="div-galleryImages-title-detail" *ngIf="galleryImages.length != 0">รูปภาพกิจกรรม</div>
            <div class="div-galleryImages-detail" *ngIf="galleryImages.length != 0">
                <div class="div-gallery">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
            </div>
        </div>
        <div class="pointer col-xs-12 div-socialnetwork-m">
            <div (click)="shareWithFB()">
                <img class="img-socialnetwork-m" src="./assets/img/Facebook@2x.png">
            </div>
            <div (click)="shareWithLine()">
                <img class="img-socialnetwork-m" src="./assets/img/Line@2x.png">
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<app-m-t1-footer></app-m-t1-footer>