<!-- footer 1 -->
<div class="col-xs-12 pt-3" style="background: transparent linear-gradient(296deg, #216DA6 0%, #1D8985 100%) 0% 0% no-repeat padding-box;height: auto;padding-bottom: 30px;
        ">
    <div class="col-xs-12  mt20">
        <div class="col-xs-1 pd0">
            <img src="./assets/img/Logo2_vet.png" width="34px" height="40px">
        </div>
        <div class="col-xs-10" style="padding: 15px;font-size: 20px; font-weight: 400;color: #ffffff;font-family: 'kanit', sans-serif;">
            {{aboutUs.title}}
        </div>
    </div>
    <div class="col-xs-12 mt20">
        <div class="col-xs-12 pd0 m-0">
            <div class="col-xs-12 pd0 font-w500" style="font-size: 17px;
                        color: #ffffff;
                        font-family: 'kanit', sans-serif;">การติดต่อ</div>
            <div class="col-xs-12 pd0 mt15 df">
                <div class="bg-icon-footer bg-white">
                    <img src="./assets/img/location.png" class="si-location">
                </div>
                <div class="font-des-footer" style="display:flex;align-items:center;margin-left: 10px;width: 80%;">
                    {{aboutUs.address}}
                </div>
            </div>
            <div class="col-xs-12 pd0 mt15 df">
                <div class="bg-icon-footer bg-white">
                    <img src="./assets/img/phone.png" class="si-phone">
                </div>
                <div class="font-des-footer" style="display:flex;align-items:center;margin-left: 10px;width: 80%;">
                    {{aboutUs.telephone}}
                </div>
            </div>
            <div class="col-xs-12 pd0 mt15 df">
                <div class="bg-icon-footer bg-white">
                    <img src="./assets/img/mail.png" class="si-mail">
                </div>
                <div class="font-des-footer" style="display:flex;align-items:center;margin-left: 10px;width: 80%;">
                    {{aboutUs.email}}
                </div>
            </div>
            <div class="col-xs-12 pd0 mt15 df">
                <div class="bg-icon-footer bg-green-mint">
                    <img src="./assets/img/line.png" class="si-line">
                </div>
                <div class="font-des-footer" style="display:flex;align-items:center;margin-left: 10px;width: 80%;">
                    {{aboutUs.lineOfficial}}
                </div>
            </div>
            <div class="col-xs-12 pd0 mt15 df">
                <div class="bg-icon-footer bg-blue-deep">
                    <img src="./assets/img/facebook.png" class="si-facebook">
                </div>
                <div class="font-des-footer" style="display:flex;align-items:center;margin-left: 10px;width: 80%;">
                    {{aboutUs.facebook}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 mt20">
        <div class="col-xs-12 pd0 m-0">
            <div class="col-xs-12 pd0 font-w500" style="font-size: 17px;
                        color: #ffffff;
                        font-family: 'kanit', sans-serif;">หน่วยงานที่เกี่ยวข้อง</div>
            <div class="col-xs-12 pd0 mt20 df ">
                <span class="pointer"><a class="font-des-footer-ra" href="" target="_blank">ศูนย์เอกสารองค์การอนามัยโลก
                        สำนักวิชาการสาธารณสุข</a></span>
            </div>
            <div class="col-xs-12 pd0  df">
                <span class="pointer"><a class="font-des-footer-ra" href="https://library.kku.ac.th/"
                        target="_blank">สำนักหอสมุดและทรัพยากรการเรียนรู้
                        มหาวิทยาลัยขอนแก่น</a></span>
            </div>
            <div class="col-xs-12 pd0  df">
                <span class="pointer"><a class="font-des-footer-ra" href="https://www.lib.ku.ac.th/web/"
                        target="_blank">สำนักหอสมุด
                        มหาวิทยาลัยเกษตรศาสตร์</a></span>
            </div>
            <div class="col-xs-12 pd0  df">
                <span class="pointer"><a class="font-des-footer-ra"
                        href="https://www.chula.ac.th/cu-services/information-services/office-of-academic-resources/"
                        target="_blank">ห้องสมุดจุฬาลงกรณ์มหาวิทยาลัย</a></span>
            </div>
            <div class="col-xs-12 pd0  df">
                <span class="pointer"><a class="font-des-footer-ra" href="https://www.thaivma.com/"
                        target="_blank">กรมปศุสัตว์</a></span>
            </div>
            <div class="col-xs-12 pd0  df">
                <span class="pointer"><a class="font-des-footer-ra" href="https://dld.go.th/th/index.php/th"
                        target="_blank">สมาคมสัตวแพทย์ผู้ประกอบการ
                        บำบัดโรคสัตว์แห่งประเทศไทย (VPAT)</a></span>
            </div>
            <div class="col-xs-12 pd0  df">
                <span class="pointer"><a class="font-des-footer-ra" href="https://www.vpatthailand.org/contactus"
                        target="_blank">ราชวิทยาลัยจุฬาภรณ์</a></span>
            </div>
            <div class="col-xs-12 pd0  df">
                <span class="pointer"><a class="font-des-footer-ra"
                        href="http://209.15.98.88/index.php?option=com_content&view=article&id=97:6&catid=26&Itemid=147&lang=th"
                        target="_blank">คณะสัตวแพยศาสตร์ที่สัตวแพทยสภารับรอง</a></span>
            </div>
            <div class="col-xs-12 pd0 df">
                <span class="oval">
                    ม.เกษตรศาสตร์
                </span>
                <span class="oval">
                    ม.จุฬาลงกรณ์
                </span>
                <span class="oval">
                    ม.ขอนแก่น
                </span>
            </div>
            <div class="col-xs-12 pd0 df">
                <span class="oval">
                    ม.มหิดล
                </span>
                <span class="oval">
                    ม.เชียงใหม่
                </span>
                <span class="oval">
                    ม.เทคโนโลยีมหานคร
                </span>
            </div>
            <div class="col-xs-12 pd0 df">
                <span class="oval">
                    ม.เทคโนโลยีราชมงคลตะวันออก
                </span>
                <span class="oval">
                    ม.มหาสารคาม
                </span>
            </div>
            <div class="col-xs-12 pd0 df">
                <span class="oval">
                    ม.เทคโนโลยีราชมงคลศรีวิชัย
                </span>
                <span class="oval">
                    ม.เวสเทิร์น
                </span>
                <span class="oval">
                    ม.สงขลานครินทร์
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 mt20">
        <div class="col-xs-12 pd0 font-w500" style="font-size: 17px;
        color: #ffffff;
        font-family: 'kanit', sans-serif;">ผังเว็บไซต์
        </div>
    </div>
</div>