div {
    display: block;
}

._193wCc {
    transition: margin-top .3s cubic-bezier(.4,0,.2,1);
    -webkit-overflow-scrolling: touch;
}

._3D9BVC {
  position: relative;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 980px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 1.6875rem;
  min-width: 0;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
  border-radius: .125rem;
}

._1QwuCJ {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.25rem 0 3.125rem;
}
.container {
    width: 1200px;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.h4QDlo {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}

.kJiu0u {
    padding: 0 1.875rem .625rem;
}

.ZsX2q- {
    border-bottom: .0625rem solid #efefef;
    padding: 1.125rem 0;
}

._2xVij2 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}

._2PlnUp {
    margin-top: .1875rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #555;
}

._2gERne {
    padding-top: 1.5625rem;
}

._2gERne {
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

._1DS7fG, ._1IcdS-, ._2gERne, .eSOrcn {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._2gERne, .eSOrcn {
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.eSOrcn {
    width: 50rem;
}

._3m9JxV {
    width: 100%;
    margin-bottom: .9375rem;
    border-radius: .125rem;
}

._1p2sNF, ._2H6YpG, ._38MRMp {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._1p2sNF {
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.J7OZkm {
    text-align: right;
    width: 20%;
}

._3W1PU2 {
    color: #757575;
    text-transform: capitalize;
    text-align: right;
}

._38MRMp {
    width: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
._1p2sNF, ._2H6YpG, ._38MRMp {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

._3_Hq9P {
    width: 100%;
}

._2R9TsD {
    padding: .625rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgba(0,0,0,.14);
    height: 2.5rem;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
user agent stylesheet
input[type="password" i] {
    -webkit-text-security: disc !important;
    padding: 1px 2px;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

._1fdENx, .dULkRd {
    background-color: #fff;
}

._1fdENx {
    color: #757575;
    outline: none;
    border: none;
}

._1DS7fG {
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 20%;
}
._1DS7fG, ._1IcdS-, ._2gERne, .eSOrcn {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

._1IcdS- {
    width: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

._1DS7fG, ._1IcdS-, ._2gERne, .eSOrcn {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.btn-solid-primary.btn-solid-primary--disabled {
    background: #facac0!important;
    cursor: not-allowed;
    box-shadow: none;
}

.btn-solid-primary {
    color: #fff;
    background: #ee4d2d;
}
.btn--m {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}
.btn--inline {
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.btn {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 2px;
    border: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
}