<!-- component header type 1 -->
<app-m-t1-header></app-m-t1-header>

<!-- banner Mobile -->
<div class="col-xs-12 pd0">
    <div class="row" style="height: 180px;">
        <div data-ride="carousel" id="myCarousel" style="text-align: center!important;">
            <div class="carousel-item" *ngFor="let i of bannerModel;  let idx = index;" [class.active]="selectedIndex == idx">
                <a *ngIf="i.linkUrl != ''" href="{{i.linkUrl}}">
                    <img class="img-slide animate__animated animate__fadeInLeft" *ngIf="i.imageUrl != ''" src="{{i.imageUrl}}" height="180px" width="100%" />
                </a>
                <a *ngIf="i.linkUrl == ''" href="javascript:void(0)">
                    <img class="img-slide animate__animated animate__fadeInLeft" *ngIf="i.imageUrl != ''" src="{{i.imageUrl}}" height="180px" width="100%" />
                </a>
            </div>
            <ol class="carousel-indicators" style="margin-bottom: 10%;">
                <li *ngFor="let i of bannerModel;  let idx = index;" [class.active]="selectedIndex == idx" data-target="'#myCarousel' + idx" data-slide-to="idx" (click)="setIndex('',idx)"></li>
            </ol>
        </div>
    </div>

    <div class="d-flex flex-row btn-mvet pd0" style="width: 85%; height: max-content;">
        <div class="col-xs-1 pd0" style="align-self: center; margin: 2%;">
            <span class="glyphicon glyphicon-search fa-2x" style="font-size:20px;"></span>
        </div>
        <div class="col-xs-6 pd0" style="align-self: center; margin: 2% 0;">
            <span (click)="nav('search')">ค้นหารายชื่อผู้ประกอบวิชาชีพการสัตวแพทย์ </span>
        </div>
        <div class="col-xs-1 pd0" style="align-self: center; border-left: 2px solid #987135;height: 30px;margin: 2% 1%;">
        </div>
        <div class="col-xs-4 pd0" style="align-items: center; justify-items: start; align-self: center; margin: 2% 0;font-size: 15px;color: black;" (click)="nav('login')">
            <i class="fa fa-user-circle" style='font-size:17px'></i>
            <span *ngIf="serviceProviderService.lang == 'th'"> {{'login'| langTh}}</span>
            <span *ngIf="serviceProviderService.lang == 'en'"> {{'login'| langEn}}</span>
        </div>
    </div>
</div>

<!-- Text Mobile-->
<div class="col-xs-12 mt55">
    <div class="hmvet1" style="font-size: 20px;">“สัตวแพทยสภา ยึดมั่นมาตรฐาน <br /> สานความร่วมมือ ยึดถือประโยชน์สังคม”
    </div>
    <div class="hmvet2" style="font-size: 13px;">- ปณิธาน สัตวแพทยสภา -</div>
    <hr />
</div>


<!-- Menu Mobile-->
<div class="col-xs-12">

    <div class="row ">
        <div class="col-xs-1"></div>
        <div class="col-xs-10" style="display: flex;flex-wrap: nowrap;justify-content: space-between;">
            <div class="col-xs-6 menu-vet" (click)="navToCenter(centerModel[0].code)">
                <div class="col-xs-12 pd0">
                    <div class="imgmenu">
                        <img src="./assets/img/Menu_1.png" class="center">
                    </div>
                </div>
                <div class="col-xs-12 fsMenu mt5 pd0">
                    {{centerModel[0].title}}
                </div>
                <div class="overlay">
                    <div class="text">{{centerModel[0].title}}</div>
                </div>
            </div>
            <div class="col-xs-6 menu-vet" (click)="navToCenter(centerModel[1].code)">
                <div class="col-xs-12 pd0">
                    <div class="imgmenu">
                        <img src="./assets/img/Menu_2.png" class="center">
                    </div>
                </div>
                <div class="col-xs-12 fsMenu mt5 pd0">
                    {{centerModel[1].title}}
                </div>
                <div class="overlay">
                    <div class="text">{{centerModel[1].title}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>

    <div class="row ">
        <div class="col-xs-1"></div>
        <div class="col-xs-10" style="display: flex;flex-wrap: nowrap;justify-content: space-between;">
            <div class="col-xs-6 menu-vet" (click)="navToCenter(centerModel[2].code)">
                <div class="col-xs-12 pd0">
                    <div class="imgmenu">
                        <img src="./assets/img/Menu_3.png" class="center">
                    </div>
                </div>
                <div class="col-xs-12 fsMenu mt5 pd0">
                    {{centerModel[2].title}}
                </div>
                <div class="overlay">
                    <div class="text">{{centerModel[2].title}}</div>
                </div>
            </div>
            <div class="col-xs-6 menu-vet" (click)="navToCenter(centerModel[3].code)">
                <div class="col-xs-12 pd0">
                    <div class="imgmenu">
                        <img src="./assets/img/Menu_4.png" class="center">
                    </div>
                </div>
                <div class="col-xs-12 fsMenu mt5 pd0">
                    {{centerModel[3].title}}
                </div>
                <div class="overlay">
                    <div class="text">{{centerModel[3].title}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>

    <div class="row ">
        <div class="col-xs-1"></div>
        <div class="col-xs-10" style="display: flex;flex-wrap: nowrap;justify-content: space-between;">
            <div class="col-xs-6 menu-vet" (click)="navToCenter(centerModel[4].code)">
                <div class="col-xs-12 pd0">
                    <div class="imgmenu">
                        <img src="./assets/img/Menu_5.png" class="center">
                    </div>
                </div>
                <div class="col-xs-12 fsMenu mt5 pd0">
                    {{centerModel[4].title}}
                </div>
                <div class="overlay">
                    <div class="text">{{centerModel[4].title}}</div>
                </div>
            </div>
            <div class="col-xs-6 menu-vet" (click)="navToCenter(centerModel[5].code)">
                <div class="col-xs-12 pd0">
                    <div class="imgmenu">
                        <img src="./assets/img/Menu_6.png" class="center">
                    </div>
                </div>
                <div class="col-xs-12 fsMenu mt5 pd0">
                    {{centerModel[5].title}}
                </div>
                <div class="overlay">
                    <div class="text">{{centerModel[5].title}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>

</div>

<!-- เรื่องสำคัญ -->
<div *ngIf="importantModel.length > 0" class="col-xs-12 ptb20 mt30" style="background-color: #FFCD77; line-height: initial;">
    <div class="col-xs-12">
        <div class="col-xs-9 hleft pd0">
            <div class="pd0">ข้อมูลสำคัญสำหรับสมาชิก</div>
        </div>
        <div class="col-xs-3 pd0">
            <div (click)="navToAllImportant()" class="kn hright pointer" style="font-size: 15px;float:right;">ดูทั้งหมด</div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 mt10 pointer" style="padding:5px" (click)="navToImportantDetail(importantModel[0].code)">
            <img style="width: 100%;height: 195px;border-radius: 15px;" src="{{importantModel[0].imageUrl}}">
            <div class="bottom-left kn" style="font-size: 17px;">{{importantModel[0].title}}</div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 pd0 mt10">
            <div *ngFor="let item of importantModel | slice:1:3" class="col-sm-6 col-xs-6 pointer" style="padding:5px" (click)="navToImportantDetail(item.code)">
                <img style="width:100%;height: 90px;border-radius: 15px;" src="{{item.imageUrl}}">
                <div class="bottom-left kn" style="font-size: 13px;">{{item.title}}</div>
            </div>
        </div>
    </div>
</div>

<!-- ข่าวประชาสัมพันธ์ -->
<div class="col-xs-12 ptb20">
    <div class="col-xs-12">
        <div class="col-xs-9 hleft pd0">
            <div class="pd0">ข่าวประชาสัมพันธ์</div>
        </div>
        <div class="col-xs-3 pd0">
            <div (click)="navToAllNews()" class="kn hright pointer" style="font-size: 15px;float:right; background-color: #E19B24;">ดูทั้งหมด</div>
        </div>
    </div>
    <div class="col-xs-12 mt15">
        <div class="row" *ngIf="modelNews.length > 0">
            <div *ngFor="let item of modelNews | slice:0:1" class=" col-xs-12 pointer" (click)="navToDetail(item.code)">
                <img style="width:100%;height: 195px;border-radius: 15px;" src="{{item.imageUrl}}">
                <div class="news-border mt15" *ngIf="item.centertitle != ''">จาก {{item.centertitle}}</div>
                <div class="fsh2 pd0 mt15 line-clamp-2" style="color: #707070; font-size: 24px;">{{item.title}}
                </div>
                <div class="fsh1 line-clamp-2">{{convertToPlain2(item.description)}}</div>
                <div class="fsh1 mt15">Date {{item.createDate | dateFormat}} </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 pd0">
            <div style="margin-top: 20px;flex-wrap: wrap;row-gap: 2em;column-gap: 2%;display: flex;justify-content: space-between;">
                <div *ngFor="let item of modelNews | slice:1:5;" style="width:49%;height: max-content;border-radius: 10px;" (click)="navToDetail(item.code)">
                    <div class="col-xs-12 pd0 pointer">
                        <img style="width:100%;height: 90px;border-radius: 15px;" src="{{item.imageUrl}}">
                    </div>
                    <div class="col-xs-12 pd0">
                        <div class="news-border" *ngIf="item.centertitle != ''" style="margin: 15px 0;">จาก {{item.centertitle}}</div>
                        <div class="fsh2 pd0 line-clamp-2" style="color: #707070; font-size: 15px;">{{item.title}}</div>
                        <!-- <div class="fsh1 line-clamp-2 font-size: 15px;">{{convertToPlain2(item.description)}}</div> -->
                        <div class="fsh1">Date {{item.createDate | dateFormat}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ปฏิทินกิจกรรม -->
<div class="col-xs-12 ptb20">
    <div class="col-xs-12">
        <div class="col-xs-9 hleft pd0">
            <div class="hleft2 pd0">ปฏิทินกิจกรรม</div>
            <div class="hleft pd0">{{currentMonth}}</div>
        </div>
        <div class="col-xs-3 pd0">
            <div (click)="navToAllEventCalendar()" class="kn hright pointer" style="font-size: 15px;float:right; background-color: #E19B24; text-align: center;">ดูทั้งหมด</div>
        </div>
    </div>
    <div class="col-xs-12 mt15">
        <div class="row" *ngIf="modelEventCalendar.length > 0">
            <div *ngFor="let item of modelEventCalendar | slice:0:1" class=" col-xs-12 pointer" (click)="navToEventCalendarDetail(item.code)">
                <img style="width:100%;height: 195px;border-radius: 15px;" src="{{item.imageUrl}}">
                <div class="news-border mt15" *ngIf="item.centertitle != ''">จาก {{item.centertitle}}</div>
                <div class="fsh2 pd0 mt15 line-clamp-2" style="color: #707070; font-size: 24px;">{{item.title}}</div>
                <div class="fsh1 line-clamp-2">{{convertToPlain2(item.description)}}</div>
                <div class="fsh1 mt15">Date {{item.createDate | dateFormat}} </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 pd0">
            <div style="margin-top: 20px;flex-wrap: wrap;row-gap: 2em;column-gap: 2%;display: flex;justify-content: space-between;">
                <div *ngFor="let item of modelEventCalendar | slice:1:5;" style="width:49%;height: max-content;border-radius: 10px;" (click)="navToEventCalendarDetail(item.code)">
                    <div class="col-xs-12 pd0 pointer">
                        <img style="width:100%;height: 90px;border-radius: 15px;" src="{{item.imageUrl}}">
                    </div>
                    <div class="col-xs-12 pd0">
                        <div class="news-border" *ngIf="item.centertitle != ''" style="margin: 15px 0;">จาก {{item.centertitle}}</div>
                        <div class="fsh2 pd0 line-clamp-2" style="color: #707070; font-size: 15px;">{{item.title}}</div>
                        <!-- <div class="fsh1 line-clamp-2 font-size: 15px;">{{convertToPlain2(item.description)}}</div> -->
                        <div class="fsh1">Date {{item.dateStart | dateFormat}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ภาพกิจกรรม -->
<div class="col-xs-12 ptb20">
    <div class="col-xs-12">
        <div class="col-xs-9 hleft pd0">
            <div class="pd0">ภาพกิจกรรม</div>
        </div>
        <div class="col-xs-3 pd0">
            <div (click)="navToAllImageEvent()" class="kn hright pointer" style="font-size: 15px;float:right; background-color: #E19B24;">ดูทั้งหมด</div>
        </div>
    </div>
    <div class="col-xs-12 mt15">
        <div class="row" *ngIf="modelImageEvent.length > 0">
            <div *ngFor="let item of modelImageEvent | slice:0:1" class=" col-xs-12 pointer" (click)="navToImageEventDetail(item.code)">
                <img style="width:100%;height: 195px;border-radius: 15px;" src="{{item.imageUrl}}">
                <div class="news-border mt15" *ngIf="item.centertitle != ''">จาก {{item.centertitle}}</div>
                <div class="fsh2 pd0 mt15 line-clamp-2" style="color: #707070; font-size: 24px;">{{item.title}}</div>
                <div class="fsh1 line-clamp-2">{{convertToPlain2(item.description)}}</div>
                <div class="fsh1 mt15">Date {{item.createDate | dateFormat}} </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 pd0">
            <div style="margin-top: 20px;flex-wrap: wrap;row-gap: 2em;column-gap: 2%;display: flex;justify-content: space-between;">
                <div *ngFor="let item of modelImageEvent | slice:1:5;" style="width:49%;height: max-content;border-radius: 10px;" (click)="navToImageEventDetail(item.code)">
                    <div class="col-xs-12 pd0 pointer">
                        <img style="width:100%;height: 90px;border-radius: 15px;" src="{{item.imageUrl}}">
                    </div>
                    <div class="col-xs-12 pd0">
                        <div class="news-border" *ngIf="item.centertitle != ''" style="margin: 15px 0;">จาก {{item.centertitle}}</div>
                        <div class="fsh2 pd0 line-clamp-2" style="color: #707070; font-size: 15px;">{{item.title}}</div>
                        <!-- <div class="fsh1 line-clamp-2 font-size: 15px;">{{convertToPlain2(item.description)}}</div> -->
                        <div class="fsh1">Date {{item.createDate | dateFormat}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- สารสัตวแพทยสภา -->
<div class="col-xs-12 mt20">
    <div class="col-xs-12 pd0">
        <div class="col-xs-7 hleft pd0">
            <span *ngIf="serviceProviderService.lang == 'th'">{{'vetsubstances'| langTh}}</span>
            <span *ngIf="serviceProviderService.lang == 'en'">{{'vetsubstances'| langEn}}</span>
        </div>
        <div class="col-xs-5 pd0">
            <span class="kn hright pointer" style="font-size: 15px;float:right;background-color: #E19B24;" (click)="navToAllKnowledgeVet()">
                ดูทั้งหมด
            </span>
        </div>
    </div>

    <div class="col-xs-12 pd0 mt15">
        <div class="col-xs-12 pd0">
            <div *ngFor="let item of modelKnowledgeVet | slice:0:4" class="col-xs-6 pd0" (click)="navToKnowledgeVetDetail(item.code)">
                <div style="width: 45vw; height: 45vw; padding: 1%;">
                    <img class="img-kl" src="{{item.imageUrl}}">
                </div>
                <div class="kn" style="color: black;font-size: 13px; margin-bottom: 15px;">
                    {{item.title}} </div>
            </div>
        </div>
    </div>
</div>

<!-- สัตวแพทยสภาอีนิวส์ -->
<div class="col-xs-12 mt20">
    <div class="col-xs-12 pd0">
        <div class="col-xs-7 hleft pd0">
            สัตวแพทยสภาอีนิวส์
        </div>
        <div class="col-xs-5 pd0">
            <span class="kn hright pointer" style="font-size: 15px;float:right;background-color: #E19B24;" (click)="navToAllVetEnews()">
                ดูทั้งหมด
            </span>
        </div>
    </div>

    <div class="col-xs-12 pd0 mt15">
        <div class="col-xs-12 pd0">
            <div *ngFor="let item of modelVetEnews | slice:0:4" class="col-xs-6 pd0" (click)="navToVetEnewsDetail(item.code)">
                <div style="width: 45vw; height: 45vw; padding: 1%;">
                    <img class="img-kl" src="{{item.imageUrl}}">
                </div>
                <div class="kn" style="color: black;font-size: 13px; margin-bottom: 15px;">
                    {{item.title}} </div>
            </div>
        </div>
    </div>
</div>

<!-- partner -->
<div class="col-xs-12">
    <app-partner></app-partner>
</div>

<!-- Application  สัตวแพทยสภา-->
<div class="col-xs-12">
    <div class="col-xs-12 pd0">
        <div class="col-xs-12 pd0" style="margin-top: 10%;">
            <div class="col-xs-12 pd0" style="color: #1B6CA8;font-size: 20px;  font-family: 'kanit', sans-serif;font-weight: bold;
            ">
                Application สัตวแพทยสภา
            </div>
            <div class="col-xs-12 pd0 mt20" style="font-size: 13px;  font-family: 'kanit', sans-serif;">
                แอพพลิเคชันสำหรับติดตามข่าวสาร<br> สำหรับบุคคลทั่วไปและผู้สนใจข่าวสารต่างๆและฟีเจอร์ต่างๆ
            </div>
            <div class="col-xs-12 pd0 mt30">
                <img style="width:80%; margin-left: auto;margin-right: auto;display: block;" src="./assets/img/Mobile.png">
            </div>
            <div class="col-xs-12 pd0 " style="font-size: 13px;  font-family: 'kanit', sans-serif;font-weight: bold;margin-top: 15%;">
                Download Now
            </div>
            <div class="col-xs-12 pd0 mt15" style="margin-bottom: 30px;">
                <img style="width:25%;height: 5vh;" src="./assets/img/appstore-icon.png">
                <img style="width:25%;height: 5vh;margin-left: 20px;" src="./assets/img/googleplay-icon.png">
            </div>

        </div>

    </div>
</div>

<!-- component footer type 1 -->
<app-m-t1-footer></app-m-t1-footer>