
.shop-separated {
    display: flex;
    width: 100%;
    justify-content: center;
}
.shop-page .container {
    padding-top: 1.25rem;
}
._3HQEO1 {
    margin-bottom: 1.25rem;
}
.shop-page__section {
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 1px 0px;
    border-radius: 0.125rem;
    background: rgb(255, 255, 255);
    overflow: visible;
    margin: 0.625rem 0px;
    padding: 1.25rem 1.875rem 1.875rem;
}
._2o6h45:not(:empty) {
    margin-bottom: 1.25rem;
}
.shop-page .shop-collection-view:first-child {
    margin-top: 0.625rem;
}
.shop-collection-view {
    margin-bottom: .625rem;
}
.shopee-header-section--simple {
    padding-top: 1.25rem;
}
.shopee-header-section__header {
    display: flex;
    align-items: center;
    padding-bottom: 0.625rem;
}
.theme--ofs ._1Y0Eyg .shopee-header-section__header__title {
    color: rgb(208, 1, 27);
}
.shopee-header-section__header a {
    color: rgb(238, 77, 45);
    text-decoration: none !important;
}
._1YRfs7, ._3ryw2- {
    vertical-align: middle;
}

.col, .row {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-flex: 0;
    -moz-box-direction: normal;
}
.col-xs-2 {
    -webkit-flex-basis: 16.666%;
    -ms-flex-preferred-size: 16.666%;
    flex-basis: 16.666%;
    max-width: 16.666%;
}

.col-xs-2-1p {
    -webkit-flex-basis: 16.666%;
    -ms-flex-preferred-size: 16.666%;
    flex-basis: 1%;
    max-width: 16.666%;
}

.fs1-2 {
    padding: 5px 0 5px 0;
    border-bottom: solid 1px #f0f0f0;
}

.fs1-2:hover {
    color: #ee4d2d;
}

.dropdown-menu {
    border: 1px solid #f0f0f0;
    padding: 0 10px 0 10px;
}

.p0 {
 padding: 0 0 0 0 !important;
}

.shopee-button-no-outline {
    padding: .3125rem .4375rem;
    color: rgba(0,0,0,0.8);
    background-color: transparent;
    border: none;
}

.shopee-button-no-outline, .shopee-icon-button, .shopee-image-button {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color cubic-bezier(0.4, 0, 0.6, 1) .1s;
}

.shopee-header-section__header .shopee-button-no-outline {
    color: #ee4d2d;
}

.pAJkCU { height: 18.75rem; margin: 12.5rem auto 1.25rem; display: block; }
._1gN_jU { text-align: center; font-size: 1rem; color: rgb(34, 34, 34); }
._1VLvDx { border: 0.0625rem solid rgba(0, 0, 0, 0.14); border-radius: 0.625rem; margin: 0.625rem; padding: 0.625rem; text-align: center; }
._3sjFp { border-radius: 0.125rem; display: inline-flex; align-items: center; justify-content: center; padding: 0px 1rem; overflow: hidden; outline: none; flex: 0 0 auto; position: relative; }
._3sjFp:active::before { content: ""; background-color: rgba(0, 0, 0, 0.05); position: absolute; inset: 0px; }
.lJMau { height: 2.75rem; }
._3zn07 { height: 2.25rem; min-width: 4rem; }
._18F8b { height: 1.75rem; min-width: 4rem; padding: 0px 0.75rem; }
.uxSdp { height: 1.25rem; min-width: 3.25rem; padding: 0px 0.5rem; }
.xCn81 { background: transparent; }
.TOjHY.AHhqR { color: rgb(255, 255, 255); border: 0.0625rem solid transparent; background: var(--nc-primary,#ee4d2d); }
.TOjHY.xCn81 { color: var(--nc-primary,#ee4d2d); border: 0.0625rem solid var(--nc-primary,#ee4d2d); }
.TOjHY.xCn81:active::before { background-color: var(--nc-primary,#ee4d2d); opacity: 0.05; }
._1-4Xn.xCn81 { color: var(--nc-text-primary,rgba(0,0,0,0.87)); border: 0.0625rem solid rgba(0, 0, 0, 0.26); }
._1qQAl.xCn81 { color: rgb(255, 255, 255); border: 0.0625rem solid rgb(255, 255, 255); }
._1qQAl.xCn81:active::before { background-color: rgb(255, 255, 255); opacity: 0.26; }
._3sjFp:disabled { color: var(--nc-util-disabled,rgba(0,0,0,0.26)); }
._3sjFp:disabled.xCn81 { border-color: var(--nc-util-line,rgba(0,0,0,0.09)); }
._3sjFp:disabled._1qQAl.xCn81 { border-color: rgba(255, 255, 255, 0.54); color: rgba(255, 255, 255, 0.4); }
._3sjFp:disabled.TOjHY.AHhqR { background: rgba(0, 0, 0, 0.09); }
._2HCeY { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._19rDu { margin-left: 0.25rem; }
._193wCc { transition: margin-top 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s; }
._193wCc._3cVWns { margin-top: 7.4375rem; }
._193wCc._3GgbTj { margin-top: 11.125rem; }
._35iLco { border: 1px solid rgba(0, 0, 0, 0.09); }
.image-carousel { width: 100%; height: 100%; position: relative; }
.image-carousel__item-list-wrapper { height: 100%; overflow: hidden; touch-action: pan-y; }
.image-carousel__item-list { display: flex; position: relative; height: 100%; padding: 0px; margin: 0px; }
.image-carousel__item { overflow-x: hidden; list-style: none; float: left; touch-action: pan-y; }
.image-carousel__item--fluid { flex: 0 1 auto; overflow-x: visible; }
.image-carousel__item > div { height: 100%; }
.image-carousel__item a, .image-carousel__item img { -webkit-user-drag: none; }
.lazy-image__container { position: relative; }
.lazy-image__image, .lazy-image__placeholder { position: absolute; inset: 0px; }
.lazy-image__image { background-position: 50% center; background-size: cover; background-repeat: no-repeat; }
.item-card-special { background-color: rgb(255, 255, 255); cursor: pointer; position: relative; }
.item-card-special__link { color: rgba(0, 0, 0, 0.8); display: block; text-decoration: none; }
.item-card-special__link:hover { transform: translateY(-0.125rem); z-index: 1; }
.item-card-special__img { margin-bottom: 0.3125rem; position: relative; padding-top: 0px; }
.item-card-special__img-background { background-position: 50% center; background-size: cover; background-repeat: no-repeat; padding-top: 100%; display: block; }
.item-card-special__img-background .lazy-image__image { background-position: 50% center; background-size: cover; background-repeat: no-repeat; position: absolute; inset: 0px; }
.item-card-special__img-background--adult .lazy-image__image { background-size: 100px; background-color: rgb(255, 255, 255); }
.item-card-special__lower-padding { padding: 0px 0.625rem 0.625rem; }
.item-card-special__name { overflow: hidden; overflow-wrap: break-word; line-height: 1.125rem; height: 2.1875rem; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.item-card-special__name--special { margin-bottom: 4px; text-align: center; line-height: 1rem; height: 2rem; }
.item-card-special__section-price { display: flex; align-items: center; position: relative; overflow: hidden; height: 1.5rem; }
.item-card-special__section-price--special { display: block; height: 2.625rem; }
.item-card-special__current-price { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: rgb(238, 77, 45); flex-shrink: 0; max-width: 100%; }
.item-card-special__current-price--special { flex-grow: 1; text-align: center; font-size: 1.125rem; line-height: 1.5rem; }
.item-card-special__current-price--ofs { color: rgb(208, 1, 27); }
.item-card-special__other-price { display: flex; justify-content: center; align-items: flex-end; }
.item-card-special__original-price { color: rgba(0, 0, 0, 0.54); text-decoration: line-through; overflow: hidden; text-overflow: ellipsis; }
.item-card-special__original-price--special { text-align: center; }
.item-card-special__discount-label { margin-left: 3px; padding: 1px 3px; border: 0px; border-radius: 2px; color: rgb(255, 255, 255); background: rgb(238, 77, 45); }
.item-card-special__discount-label--ofs { background: rgb(208, 1, 27); }
.item-card-special__lowest-price { width: 48px; height: 38px; position: absolute; left: 5px; bottom: 5px; }
.item-card-special__padding { padding: 0.625rem; cursor: pointer; user-select: none; }
.item-card-special:hover .card__name { color: rgb(0, 0, 0); }
._29MvTA._29MvTA { overflow-wrap: break-word; overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; height: inherit; }
._2EvRzF { padding-bottom: 0.625rem; }
._3pvIBp { align-items: baseline; }
._1GO0NP { flex-grow: 1; color: rgb(238, 77, 45); }
._1GO0NP, ._33244O._33244O { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._33244O._33244O { color: rgba(0, 0, 0, 0.54); flex-shrink: 0; }
._3gyXA8._3gyXA8 { overflow-wrap: break-word; overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; height: inherit; }
._1gtZ0N { align-items: baseline; }
._1wwisa { flex-grow: 1; color: rgb(238, 77, 45); }
._1wwisa, ._3cO-vW._3cO-vW { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._3cO-vW._3cO-vW { flex-shrink: 0; color: rgba(0, 0, 0, 0.54); }
.stardust-dropdown { position: relative; }
.stardust-dropdown__item-body { transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s; height: 0px; opacity: 0; overflow: hidden; }
.stardust-dropdown__item-body--open { height: auto; opacity: 1; }
.folding-items__toggle { display: flex; flex-direction: column; }
.folding-items__toggle.stardust-dropdown__item-body { overflow: hidden; }
.folding-items__toggle.stardust-dropdown__item-header { cursor: pointer; order: 1; }
.folding-items__toggle.stardust-dropdown--open > .stardust-dropdown__item-header { display: none; }
.shopee-filter-group { padding: 1.25rem 0px; border-bottom: 1px solid rgba(0, 0, 0, 0.09); }
.shopee-filter-group .shopee-filter { align-items: flex-start; padding: 0.5rem 0px; }
.shopee-filter-group__header { text-transform: capitalize; margin-bottom: 0.625rem; font-weight: 500; }
.shopee-filter-group__item-hint { font-size: 0.75rem; font-weight: 400; color: rgb(146, 146, 146); margin-top: 0.5rem; flex-basis: 100%; }
.shopee-filter-group__toggle-btn { display: flex; align-items: center; padding: 0.5rem 0.625rem 0.5rem 1.25rem; font-weight: 500; cursor: pointer; }
.shopee-filter-group__toggle-btn svg { font-size: 0.4375rem; margin-left: 0.625rem; }
.shopee-checkbox-filter { display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap; }
.shopee-checkbox-filter .shopee-checkbox { overflow: hidden; }
.shopee-checkbox-filter .shopee-checkbox__control { align-items: flex-start; }
.shopee-checkbox-filter .shopee-checkbox__box { margin-top: 0.0625rem; }
.shopee-checkbox-filter .shopee-checkbox__label { overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 3; line-height: 1rem; max-height: 3rem; overflow-wrap: break-word; }
.shopee-facet-filter__facet { display: flex; align-items: stretch; justify-content: space-between; }
.shopee-facet-filter__facet .shopee-filter { flex: 1 1 0%; flex-wrap: nowrap; overflow: hidden; }
.shopee-facet-filter__facet--sub { padding-left: 0.9375rem; }
.shopee-facet-filter__facet--sub .shopee-checkbox__control, .shopee-facet-filter__facet--sub .shopee-filter { font-size: 0.75rem; }
.shopee-facet-filter__facet--skeleton { width: 100%; height: 1rem; padding: 0.5rem 0px; background: transparent; }
.shopee-facet-filter__count { color: rgba(0, 0, 0, 0.54); font-weight: 400; }
.shopee-facet-filter__arrow { font-size: 0.5625rem; color: rgb(117, 117, 117); padding: 0.75rem 0px 0px 0.125rem; }
.shopee-facet-filter__dropdown { display: flex; flex-direction: column; }
.shopee-facet-filter__dropdown .stardust-dropdown__item-body { order: 1; }
.shopee-facet-filter__dropdown.stardust-dropdown--open { border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
.shopee-facet-filter__dropdown.stardust-dropdown--open .shopee-facet-filter__arrow .icon-bold-arrow { transform: rotate(180deg); }
.shopee-facet-filter__dropdown.stardust-dropdown--open:last-child { border-bottom: 0px; }
._33oolD { display: inline-block; margin-left: 1.4375rem; padding: 0.5rem 0.625rem 0.5rem 0px; font-weight: 500; text-transform: capitalize; cursor: pointer; }
.stardust-input__element { font-family: -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial, sans-serif; font-weight: 300; font-size: 12px; resize: none; border-radius: 4px; border: 2px solid rgba(0, 0, 0, 0.09); padding: 4px 8px; background: rgb(246, 246, 246); }
.stardust-input__element:focus { border-color: rgb(249, 197, 187); outline: 0px; box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgb(249, 197, 187) 0px 0px 4px; }
.stardust-input__element--invalid, .stardust-input__element--invalid:focus, .stardust-input__element:invalid { border-color: rgb(255, 66, 79); background-color: rgb(255, 241, 241); outline: 0px; box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgb(255, 66, 79) 0px 0px 4px; }
.stardust-input__element--disabled, .stardust-input__element:disabled { cursor: not-allowed; background-color: rgb(221, 221, 221); }
.stardust-input__invalid-message { font-family: -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial, sans-serif; font-weight: 300; font-size: 12px; color: rgb(255, 66, 79); }
._1HfZ1e { display: flex; margin-bottom: 0.75rem; padding-bottom: 0.9375rem; border-bottom: 0.0625rem solid rgb(239, 239, 239); }
._1HfZ1e .stardust-input { flex: 1 1 0%; height: 100%; }
.zhpCHG { height: 2.375rem; line-height: 2.375rem; padding-right: 4.25rem; font-size: 1.125rem; font-weight: 500; }
._2qsY_m { flex: 1 1 0%; display: flex; position: relative; height: 2.375rem; background: rgb(255, 255, 255); border: 0.0625rem solid rgba(0, 0, 0, 0.14); border-radius: 0.125rem; box-sizing: border-box; }
._2EaN5U { position: absolute; top: 0px; right: 0.875rem; width: 1.1875rem; }
._2EaN5U, ._3qjOU4 { height: 100%; fill: rgb(155, 155, 155); }
._3qjOU4 { width: 0.75rem; }
._1zN2mF { position: absolute; top: 0px; right: 0px; height: 100%; padding: 0px 0.9375rem; cursor: pointer; }
._2nQ3qJ { width: 100%; height: 100%; padding-right: 2.5rem; font-size: 0.875rem; font-weight: 400; background: rgb(255, 255, 255); border: 0px; box-shadow: rgba(0, 0, 0, 0.02) 0px 0.125rem 0px 0px inset; box-sizing: border-box; }
._2nQ3qJ:focus { box-shadow: none; }
.stardust-alphabet-scroll-bar { display: flex; flex-direction: column; justify-content: space-between; position: absolute; top: 0px; right: 0px; width: 15px; height: 100%; background-color: rgb(255, 255, 255); text-align: center; }
.stardust-alphabet-scroll-bar__letter { color: rgb(136, 136, 136); font-weight: 300; cursor: pointer; }
.stardust-alphabet-scroll-bar__letter--active { color: rgb(51, 51, 51); font-weight: 400; }
.stardust-alphabet-scroll { position: relative; }
.stardust-alphabet-scroll__list { overflow-y: auto; }
.stardust-checkbox { font-family: -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial, sans-serif; font-weight: 300; font-size: 12px; display: flex; align-items: center; cursor: default; position: relative; color: rgba(0, 0, 0, 0.54); max-width: 400px; }
.stardust-checkbox__input { opacity: 0; top: 0px; left: 0px; position: absolute; }
.stardust-checkbox__box { user-select: none; position: relative; width: 16px; height: 16px; flex-shrink: 0; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.14); text-align: center; box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 0px 0px inset; margin-right: 8px; }
.stardust-checkbox__box:hover { box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px inset; }
.stardust-checkbox__box::before { position: absolute; content: ""; height: 5px; width: 9px; border-left: 2px solid rgb(255, 255, 255); border-bottom: 2px solid rgb(255, 255, 255); transform: rotate(-45deg); left: 3px; top: 3px; }
.stardust-checkbox--disabled { opacity: 0.35; cursor: no-drop; }
.stardust-checkbox--disabled .stardust-checkbox__box { background: rgb(231, 231, 231) !important; box-shadow: none !important; }
.stardust-checkbox--disabled .stardust-checkbox__box::before { border-color: transparent; }
.stardust-checkbox--checked > .stardust-checkbox__box { background: rgb(238, 77, 45); border-color: rgb(238, 77, 45); }
.stardust-checkbox--checked > .stardust-checkbox__box:hover { box-shadow: none; }
.stardust-checkbox--checked > .stardust-checkbox__box::before { border-color: rgb(255, 255, 255); }
._2nPDnz { font-weight: 500; margin-bottom: 0.9375rem; }
._2FTG2k { display: flex; flex-wrap: wrap; margin-bottom: 0.375rem; }
._2xMHuj { flex: 0 0 25%; width: 25%; min-width: 0px; }
._3UxJLh { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
._2nW2md { cursor: pointer; user-select: none; padding: 0px 0.3125rem 0.875rem 0px; font-size: 0.875rem; font-weight: 400; }
._2nW2md .stardust-checkbox__box { width: 0.875rem; height: 0.875rem; box-shadow: none; box-sizing: border-box; }
._2nW2md .stardust-checkbox__box::before { height: 0.1875rem; width: 0.375rem; top: 0.125rem; left: 0.125rem; }
.d_dwdz { cursor: not-allowed; }
._8pVKH1 { flex: 1 1 0%; position: relative; display: flex; min-height: 22.5rem; margin-top: 0.75rem; }
._3_g7hA { overflow-y: auto; width: 100%; }
.rXOOAs { width: 100%; padding: 6.875rem 3.75rem 0px; text-align: center; color: rgba(0, 0, 0, 0.54); }
._2Vmwv_ { display: block; width: 6.25rem; margin: 0px auto 0.625rem; }
.EejvAq { display: flex; justify-content: flex-end; padding-top: 1.25rem; }
._1mNTn3, ._3R2IjN { text-transform: uppercase; height: 2.5rem; padding: 0.5rem 1.125rem; border: 0px; border-radius: 0.125rem; }
._1mNTn3 { margin-left: 1.875rem; }
.LDsie8:hover { border: 0px; }
._3R2IjN { color: rgb(85, 85, 85); }
._3R2IjN:hover { background-color: rgb(255, 255, 255); }
._3R2IjN:active, ._3R2IjN:focus { outline: none; }
.pvgNz8, .pvgNz8:hover { border: 0px; background-color: rgb(255, 255, 255); }
._3jG8JF { box-shadow: rgba(0, 0, 0, 0.16) 0px 0.125rem 0.25rem 0px; position: absolute; display: flex; flex-direction: column; top: 0px; left: 100%; width: 47.25rem; padding: 1rem 1.25rem 1.625rem 1.5625rem; background-color: rgb(255, 255, 255); border: 0.5px inset rgba(0, 0, 0, 0.09); border-radius: 0.125rem; }
.ZiGX_i { color: rgb(255, 66, 79); }
._3P3lH8 { position: relative; display: inline-block; z-index: 3; }
.shopee-location-filter .stardust-dropdown__item-body--open { overflow: visible; }
._1OOUMW .shopeee-filter-group__body { flex-direction: column; align-items: flex-start; }
._1LYq_U, ._1OOUMW .shopeee-filter-group__body { display: flex; }
._1LYq_U { cursor: pointer; align-items: center; height: 1.5625rem; padding: 0px 0.75rem; white-space: nowrap; }
._1LYq_U .rating-stars__star { margin: 0px 0.25rem 0px 0px; color: rgb(255, 206, 61); }
._1LYq_U .rating-stars__container { margin-bottom: 1px; }
._1LYq_U + ._1LYq_U { margin-top: 0.3125rem; }
.NvQodS { background-color: rgb(235, 235, 235); border-radius: 0.78125rem; font-weight: 500; }
.shopee-price-range-filter__inputs { margin: 1.25rem 0px 0.625rem; display: flex; justify-content: space-between; }
.shopee-price-range-filter__inputs, .shopee-price-range-filter__range-line-wrapper { align-items: center; }
.shopee-price-range-filter__range-line-wrapper { display: inline-flex; flex: 1 1 0%; margin-left: 0.625rem; margin-right: 0.625rem; }
.shopee-price-range-filter__range-line { flex: 1 1 0%; height: 1px; background: rgb(189, 189, 189); margin: 0px 0.625rem; }
.shopee-price-range-filter__input { width: 4.375rem; height: 1.875rem; background-color: rgb(255, 255, 255); outline: none; border: 1px solid rgba(0, 0, 0, 0.26); box-sizing: border-box; padding-left: 0.3125rem; font-size: 0.8125rem; text-transform: uppercase; border-radius: 0.125rem; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px inset; }
.shopee-price-range-filter__input--error { border-color: rgb(255, 66, 79); color: rgb(255, 66, 79); }
.shopee-price-range-filter__error { padding: 0.625rem 0px; text-align: center; color: rgb(255, 66, 79); font-size: 0.75rem; }
.shopee-price-range-filter__options { display: flex; flex-direction: column; align-items: flex-start; border-radius: 0.125rem; }
.shopee-price-range-filter__option { margin-top: 0.625rem; line-height: 1.5625rem; height: 1.5625rem; padding: 0px 0.625rem; font-size: 0.75rem; color: rgba(0, 0, 0, 0.54); background-color: rgba(0, 0, 0, 0.03); }
.shopee-price-range-filter__option:hover { background-color: rgba(0, 0, 0, 0.06); }
.shopee-price-range-filter__option:active { background-color: rgba(0, 0, 0, 0.1); }
.shopee-price-range-filter--vn .shopee-price-range-filter__input { width: 5rem; font-size: 0.75rem; }
.shopee-price-range-filter--tw .shopee-price-range-filter__input { font-size: 0.75rem; padding-left: 0.25rem; }
._1-VOCH._1-VOCH { height: 1.875rem; margin: 1.25rem 0px 0px; text-transform: uppercase; font-weight: 400; width: 100%; }
.shopee-search-filter-status { display: flex; align-items: center; justify-content: flex-start; text-transform: uppercase; color: rgba(0, 0, 0, 0.8); height: 1.875rem; font-weight: 700; font-size: 1rem; }
.shopee-search-filter-status__text { flex: 1 1 0%; }
.shopee-search-filter-status svg { font-size: 0.75rem; margin-right: 0.625rem; stroke: currentcolor; }
.fAQIgA.fAQIgA { height: 1.875rem; margin: 1.25rem 0px 0px; text-transform: uppercase; font-weight: 400; width: 100%; }
.shopee-search-result-header { display: flex; flex-direction: row; font-size: 1rem; font-weight: 400; margin: 0px 0px 1.5rem; color: rgb(85, 85, 85); }
.shopee-search-result-header__text-highlight { color: rgb(238, 77, 45); }
.shopee-search-result-header .icon-hint-bulb { position: relative; top: 0.125rem; width: 1rem; height: 1.375rem; margin: 0px 0.75rem 0px 0px; color: rgb(85, 85, 85); }
.shopee-search-result-header .icon-voucher-tag { width: 1.125rem; margin-right: 0.625rem; }
.shopee-search-result-header__placeholder, .shopee-search-result-header__text { padding: 0.1875rem 0px; }
.shopee-search-result-header__placeholder { height: 1.2rem; }
.shopee-search-result-header__text-emphasize, .shopee-search-result-header__text-highlight { font-weight: 700; text-decoration: none; }
.shopee-search-result-header__text-emphasize { color: rgb(34, 34, 34); }
.shopee-search-result-header__keyword { display: flex; flex-direction: row; margin-top: 0.75rem; }
.shopee-search-result-header__keyword-item { height: 2.125rem; margin-right: 0.5rem; padding: 0px 0.875rem; border: 1px solid rgb(117, 117, 117); border-radius: 0.125rem; font-size: 14px; color: rgba(0, 0, 0, 0.87); cursor: pointer; }
.shopee-search-empty-result-section, .shopee-search-result-header__keyword-item { display: flex; align-items: center; }
.shopee-search-empty-result-section { justify-content: center; flex-direction: column; margin: 6.25rem 0px 7.5rem; }
.shopee-search-empty-result-section__icon { width: 8.375rem; }
.shopee-search-empty-result-section__title { margin: 0.9375rem 0px 0.625rem; color: rgba(0, 0, 0, 0.87); font-size: 1.125rem; }
.shopee-search-empty-result-section__hint { font-size: 1.125rem; color: rgba(0, 0, 0, 0.54); }
.shopee-search-empty-result-section__hint > span { font-weight: 700; }
.shopee-search-empty-result-section__or { font-size: 1.125rem; margin-top: 15px; color: rgba(0, 0, 0, 0.4); }
.shopee-search-empty-result-section__button { display: flex; flex-direction: row; margin: 1.5625rem 0px 0px; text-decoration: none; }
.shopee-search-empty-result-section__button .shopee-button-solid { background: rgb(238, 77, 45); color: rgb(255, 255, 255); font-size: 1.125rem; height: 3rem; padding: 0px 1.25rem; }
.shopee-search-recommendation .shopee-header-section--simple > .shopee-header-section__header { padding: 0px 0px 1.25rem; height: auto; }
.shopee-search-recommendation .shopee-header-section--simple .shopee-header-section__header__title { font-weight: 500; text-transform: uppercase; font-size: 1.125rem; color: rgb(34, 34, 34); }
.shopee-search-recommendation__item { margin-bottom: 0.625rem; }
.select-with-status__holder { display: flex; align-items: center; cursor: pointer; position: relative; height: 40px; border: 1px solid rgba(0, 0, 0, 0.14); transition: border-color 0.1s ease 0s; box-sizing: border-box; border-radius: 2px; margin-bottom: 0.625rem; }
.select-with-status__holder .select-with-status__placeholder { cursor: pointer; }
.select-with-status__search { border: none; outline: none; }
.select-with-status__box-shadow { background-image: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247)); }
.select-with-status--hover .select-with-status__dropdown { visibility: visible; }
.select-with-status--focus .select-with-status__holder { border-color: rgb(238, 77, 45); border-width: 2px; padding: 9px; box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 3px 0px inset; }
.select-with-status--error .select-with-status__holder { border-color: red; }
.select-with-status--disabled { cursor: not-allowed; pointer-events: none; }
.select-with-status--disabled .select-with-status__holder { border: 1px solid rgba(0, 0, 0, 0.09); box-shadow: none; }
.select-with-status__placeholder { align-items: center; display: block; cursor: default; font-size: 0.875rem; color: rgb(187, 187, 187); padding: 0.625rem; box-sizing: border-box; width: 100%; height: 100%; }
.select-with-status__placeholder::first-letter { text-transform: capitalize; }
.select-with-status__value { display: flex; align-items: center; cursor: default; font-size: 0.875rem; padding: 0.625rem; box-sizing: border-box; width: 100%; height: 100%; color: rgb(34, 34, 34); }
.select-with-status__dropdown { visibility: hidden; position: absolute; top: calc(100% + 1px); left: 0px; background: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.09); box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; max-height: 16.875rem; z-index: 10000; width: 100%; overflow-y: auto; padding: 5px 0px; margin: 0px -1px; border-radius: 2px; }
.select-with-status__dropdown-item { box-sizing: border-box; cursor: default; padding: 5px; width: 100%; color: rgb(34, 34, 34); }
.select-with-status__dropdown-item--with-tick { display: flex; align-items: center; justify-content: space-between; }
.select-with-status__dropdown-item:hover { background: rgb(238, 77, 45); color: rgb(255, 255, 255); }
.select-with-status__block-arrow { display: flex; align-items: center; height: 100%; }
.select-with-status__block-arrow > div { width: 0px; height: 0px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid rgba(0, 0, 0, 0.4); margin-right: 15px; margin-left: 5px; }
.select-with-status__error-msg { padding: 0px 0px 13px; font-size: 0.75rem; color: rgb(255, 66, 79); }
.select-with-status .shopee-svg-icon.icon-arrow-down-small { width: 0.75rem; fill: rgb(85, 85, 85); margin-right: 0.75rem; }
.select-with-status .shopee-svg-icon.icon-tick-bold { width: 0.6875rem; fill: rgb(238, 77, 45); }
.shopee-sort-by-options { display: flex; align-items: stretch; flex: 1 1 0%; justify-content: flex-start; }
.shopee-sort-by-options .shopee-dropdown { flex: 1 1 0%; }
.shopee-sort-by-options .shopee-dropdown .shopee-popover { width: 100%; padding: 0px; }
.shopee-sort-by-options .shopee-dropdown__entry { background-color: rgb(255, 255, 255); border: none; padding: 0px 0.625rem; text-transform: uppercase; justify-content: center; }
.shopee-sort-by-options .shopee-dropdown__entry--selected { color: rgba(0, 0, 0, 0.8); height: 100%; }
.shopee-sort-by-options .shopee-dropdown__entry--selected span { flex: 0 0 auto; }
.shopee-sort-by-options .shopee-dropdown__entry--selected:hover { background-color: rgba(0, 0, 0, 0.02); }
.shopee-sort-by-options .shopee-dropdown__entry--optional { height: 3.125rem; }
.shopee-sort-by-options .shopee-dropdown--has-selected .shopee-dropdown__entry--selected { color: rgb(238, 77, 45); border-bottom: 2px solid rgb(238, 77, 45); box-sizing: border-box; }
.shopee-sort-by-options .select-with-status { min-width: 12.5rem; margin-left: 0.625rem; }
.shopee-sort-by-options .select-with-status__dropdown-item, .shopee-sort-by-options .select-with-status__placeholder, .shopee-sort-by-options .select-with-status__value { text-align: left; }
.shopee-sort-by-options .select-with-status__placeholder, .shopee-sort-by-options .select-with-status__value { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: rgba(0, 0, 0, 0.8); margin: 0px 0.625rem 0px 0.75rem; padding: 0px; }
.shopee-sort-by-options .select-with-status__value { color: rgb(238, 77, 45); }
.shopee-sort-by-options .select-with-status__dropdown { box-shadow: rgba(0, 0, 0, 0.05) 0px 0.3125rem 0.625rem 0px; margin: 0px; padding: 0.625rem 0px; border: 0px; }
.shopee-sort-by-options .select-with-status__dropdown-item { padding: 0px 0.75rem 0px 0.9375rem; cursor: pointer; }
.shopee-sort-by-options .select-with-status__dropdown-item:hover { background: transparent; color: rgb(238, 77, 45); }
.shopee-sort-by-options .select-with-status__holder { margin: 0px; background: rgb(255, 255, 255); }
.shopee-sort-by-options__option { cursor: pointer; user-select: none; display: flex; flex: 0 0 5.625rem; align-items: center; justify-content: center; text-transform: capitalize; padding: 0px 0.9375rem; background: rgb(255, 255, 255); white-space: nowrap; margin-left: 0.625rem; box-sizing: border-box; }
.shopee-sort-by-options__option:active { background: rgb(253, 253, 253); box-shadow: rgba(0, 0, 0, 0.03) 0px 0.0625rem 0px 0px inset; }
.shopee-sort-by-options__option--selected.shopee-sort-by-options__option { color: rgb(255, 255, 255); background: rgb(238, 77, 45); }
.shopee-sort-by-options__option--selected.shopee-sort-by-options__option:active { box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 1px 0px; }
.shopee-sort-by-options .select-with-status__holder, .shopee-sort-by-options__option { box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 1px 0px; height: 2.125rem; line-height: 2.125rem; border-radius: 2px; border: 0px; }
.shopee-sort-by-options .select-with-status__holder:hover, .shopee-sort-by-options__option:hover { background: rgb(253, 253, 253); }
.shopee-sort-bar { font-weight: 400; background: rgba(0, 0, 0, 0.03); padding: 0.8125rem 1.25rem; border-radius: 2px; display: flex; align-items: center; justify-content: space-between; }
.shopee-sort-bar__label { color: rgb(85, 85, 85); margin: 0px 0.3125rem 0px 0px; }
.shopee-sort-bar--placeholder { height: 2.125rem; }
._3-FJ2e { margin-left: 0.59375rem; width: 0.6875rem; height: 0.6875rem; stroke: rgb(238, 77, 45) !important; }
._3K-Eox { font-size: 1.25rem; color: rgba(0, 0, 0, 0.87); margin: 1.25rem 0px; }
.OvDLe9 { font-size: 14px; color: rgba(0, 0, 0, 0.54); margin: 1.25rem 0px; }
._3iUr-V { font-size: 14px; color: rgba(0, 0, 0, 0.87); }
._31qYHv { min-height: 6.25rem; display: flex; align-items: center; justify-content: center; }
._1iRbA2 { min-height: 100px; }
._7bSCsD { width: 100%; }
.additionalInfoPopup { display: flex; flex-direction: column; min-height: 31.25rem; width: 50rem; }
.additionalInfoPopup .shopee-alert-popup__message { flex: 1 1 0%; margin-top: 0px; }
.additionalInfoPopup .shopee-alert-popup__button-horizontal-layout { display: flex; flex-direction: row-reverse; margin-top: 1.25rem; }
.additionalInfoPopup .shopee-alert-popup__btn { flex-grow: 0; flex-basis: 9.375rem; }
.shopee-seller-portrait { position: relative; display: flex; padding: 1.25rem 0px 0.625rem; border-bottom: 1px solid rgba(0, 0, 0, 0.09); flex-direction: column; align-items: center; overflow: hidden; }
.shopee-seller-portrait__background { position: absolute; inset: 0px; background-position: 50% center; background-size: cover; background-repeat: no-repeat; filter: blur(2px); }
.shopee-seller-portrait__mask { position: absolute; inset: 0px; background-color: rgba(0, 0, 0, 0.4); }
.shopee-seller-portrait__avatar { position: relative; display: block; }
.shopee-seller-portrait__avatar__badge-wrapper { position: absolute; bottom: 0px; left: 50%; transform: translate(-50%); line-height: 0; }
.shopee-seller-portrait .icon-headshot { font-size: 2.5rem; }
.shopee-seller-portrait__name { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: rgb(255, 255, 255); z-index: 1; text-align: center; margin-top: 0.3125rem; width: 100%; box-sizing: border-box; padding: 0px 0.625rem; transform: translateZ(0px); }
.shopee-seller-portrait__status { color: rgb(255, 255, 255); font-weight: 300; z-index: 1; margin-top: 0.3125rem; }
.section-seller-overview { border-radius: 2px; overflow: hidden; border: 1px solid rgba(0, 0, 0, 0.09); flex-direction: column; position: relative; background-color: rgb(255, 255, 255); }
.section-seller-overview, .section-seller-overview__seller-info-list { display: flex; }
.section-seller-overview__seller-info-list { flex: 1 1 0%; flex-direction: column; padding: 0.625rem 0px; }
.section-seller-overview__item { display: flex; align-items: center; padding: 0.625rem 0px; flex: 1 1 0%; }
.section-seller-overview__item--clickable { cursor: pointer; user-select: none; }
.section-seller-overview__item-text-value { color: rgb(238, 77, 45); }
.section-seller-overview__item-icon-wrapper { box-sizing: border-box; margin-left: 0.625rem; margin-right: 0.625rem; font-size: 0.9375rem; }
.section-seller-overview__item-icon-wrapper, .section-seller-overview__item-text { display: flex; align-items: center; }
.section-seller-overview__item-text { text-transform: capitalize; }
.section-seller-overview__buttons { display: flex; }
.section-seller-overview__button { flex: 1 1 0%; height: 2.5rem; }
.section-seller-overview__button .shopee-button-solid { text-transform: capitalize; }
.section-seller-overview__button:not(:first-child) { border-left: 1px solid rgba(0, 191, 165, 0.4); }
.section-seller-overview__full-button { height: 2.5rem; }
.section-seller-overview__full-button .shopee-button-solid { text-transform: capitalize; }
.section-seller-overview__holiday-mode { vertical-align: middle; font-size: 0.75rem; color: rgb(249, 165, 27); text-transform: capitalize; margin: 0.3125rem 0px 0.375rem; }
.section-seller-overview__holiday-symbol { width: 0.75rem; height: 0.75rem; line-height: 0.75rem; display: inline-flex; border-radius: 50%; background-color: rgb(249, 165, 27); margin-right: 0.3125rem; align-items: center; justify-content: center; }
.section-seller-overview__holiday-symbol > .shopee-svg-icon { flex: 0 1 auto; font-size: 0.625rem; color: rgb(255, 255, 255); stroke: rgb(255, 255, 255); }
.section-seller-overview__active-time { vertical-align: middle; font-size: 0.75rem; color: rgba(255, 255, 255, 0.7); margin: 0.3125rem 0px 0.375rem; }
.section-seller-overview__inactive-indicator { font-size: 0.75rem; margin: 0.3125rem 0px 0.375rem; color: rgb(255, 66, 79); }
.section-seller-overview__online { font-size: 0.75rem; color: rgba(255, 255, 255, 0.7); text-transform: capitalize; }
.section-seller-overview__green-dot { display: inline-block; width: 0.5rem; height: 0.5rem; border-radius: 50%; background-color: rgb(66, 171, 23); margin-right: 0.25rem; }
.section-seller-overview__inactive-symbol { width: 0.75rem; height: 0.75rem; line-height: 0.75rem; display: inline-block; border-radius: 50%; background-color: rgb(255, 66, 79); margin-right: 0.3125rem; text-align: center; }
.section-seller-overview__inactive-symbol > .shopee-svg-icon { font-size: 0.5rem; color: rgb(255, 255, 255); }
.OytSNX ._1_1Mvn { cursor: pointer; user-select: none; height: 5.625rem; width: 5.625rem; border-width: 0.3125rem; box-sizing: border-box; border-color: rgb(255, 255, 255); }
.section-seller-overview-horizontal { display: flex; overflow: hidden; height: 8.375rem; }
.section-seller-overview-horizontal__leading { position: relative; width: 24.375rem; overflow: hidden; border-radius: 0.25rem; }
.section-seller-overview-horizontal__leading-background { position: absolute; inset: 0px; background-position: 50% center; background-size: cover; background-repeat: no-repeat; filter: blur(2px); margin: -4px; }
.section-seller-overview-horizontal__leading-background-mask { position: absolute; inset: 0px; background-color: rgba(0, 0, 0, 0.6); }
.section-seller-overview-horizontal__leading-content { position: absolute; inset: 0.625rem 0.875rem 0.625rem 1.25rem; }
.section-seller-overview-horizontal__leading-blocking-mask { position: absolute; inset: 0px; background-color: rgba(0, 0, 0, 0.6); line-height: 8.375rem; text-align: center; color: rgb(238, 77, 45); }
.section-seller-overview-horizontal__leading-blocking-mask svg { margin-right: 0.3125rem; font-size: 1.0625rem; stroke: rgb(255, 255, 255); }
.section-seller-overview-horizontal__seller-portrait { display: flex; }
.section-seller-overview-horizontal__preferred-badge-wrapper { position: absolute; bottom: -4px; left: 50%; transform: translateX(-50%); }
.section-seller-overview-horizontal__seller-portrait-link { position: relative; display: block; height: 5rem; width: 5rem; flex-shrink: 0; }
.section-seller-overview-horizontal__portrait-info { margin-top: 0.625rem; margin-left: 0.625rem; color: rgb(255, 255, 255); position: relative; overflow: hidden; }
.section-seller-overview-horizontal__portrait-name { font-size: 1.25rem; line-height: 1.5rem; max-height: 3rem; font-weight: 500; margin-bottom: 0.3125rem; margin-top: 0px; overflow: hidden; overflow-wrap: break-word; }
.section-seller-overview-horizontal__portrait-status { font-size: 0.75rem; }
.section-seller-overview-horizontal__buttons { position: relative; display: flex; margin-top: 0.625rem; }
.section-seller-overview-horizontal__button { flex: 1 1 0%; padding-right: 0.625rem; }
.section-seller-overview-horizontal__button > .shopee-button-outline { display: flex; align-items: center; justify-content: center; height: 1.5625rem; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); text-transform: uppercase; font-size: 0.75rem; font-weight: 500; padding: 0.3125rem 0px; box-sizing: border-box; }
.section-seller-overview-horizontal__button > .shopee-button-outline:hover { color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; }
.section-seller-overview-horizontal__button--following > .shopee-button-outline { border-color: rgb(238, 77, 45) !important; color: rgb(238, 77, 45) !important; }
.section-seller-overview-horizontal__button--disabled > .shopee-button-outline { cursor: default; color: rgba(255, 255, 255, 0.6); border-color: rgba(255, 255, 255, 0.6); }
.section-seller-overview-horizontal__button--disabled > .shopee-button-outline:hover { color: rgba(255, 255, 255, 0.6); border-color: rgba(255, 255, 255, 0.6); }
.section-seller-overview-horizontal__icon { display: flex; align-items: center; justify-content: center; padding-right: 0.625rem; font-size: 0.9375rem; }
.section-seller-overview-horizontal__icon .icon-plus-sign { font-size: 0.625rem; }
.section-seller-overview-horizontal__seller-info-list { flex: 1 1 0%; display: flex; flex-flow: column wrap; padding-left: 1.875rem; padding-top: 0.625rem; background-color: rgb(255, 255, 255); align-items: flex-start; }
.section-seller-overview-horizontal .section-seller-overview__inline-icon { vertical-align: top; }
.section-seller-overview-horizontal .section-seller-overview__inline-icon--warning { color: rgb(255, 66, 79); margin-right: 3px; }
.section-seller-overview-horizontal .section-seller-overview__inline-icon--help { cursor: pointer; user-select: none; color: rgba(0, 0, 0, 0.54); margin-left: 3px; }
.section-seller-overview-horizontal .section-seller-overview__item { display: inline-block; padding-top: 0.625rem; padding-bottom: 0.625rem; flex: 0 0 auto; }
.section-seller-overview-horizontal .section-seller-overview__item div { display: inline-block; }
.section-seller-overview-horizontal .section-seller-overview__item .section-seller-overview__item-text--no-product { display: none; }
.section-seller-overview-horizontal .section-seller-overview__item svg { stroke: rgb(0, 0, 0); }
.section-seller-overview-horizontal .section-seller-overview__item--two-lines { padding-bottom: 0.4375rem; }
.section-seller-overview-horizontal .section-seller-overview__item--two-lines .section-seller-overview__inline-icon, .section-seller-overview-horizontal .section-seller-overview__item--two-lines .section-seller-overview__item-icon-wrapper, .section-seller-overview-horizontal .section-seller-overview__item--two-lines .section-seller-overview__item-text-name { vertical-align: top; }
.section-seller-overview-horizontal .section-seller-overview__item--two-lines + .section-seller-overview__item { padding-top: 0px; }
.shop-page--no-product .section-seller-overview-horizontal { height: 6.25rem; }
.shop-page--no-product .section-seller-overview-horizontal__leading { width: 28.75rem; }
.shop-page--no-product .section-seller-overview-horizontal__leading-content { display: flex; flex-direction: row; }
.shop-page--no-product .section-seller-overview-horizontal__seller-portrait { width: 60%; }
.shop-page--no-product .section-seller-overview-horizontal__buttons { width: 40%; flex-direction: column; }
.shop-page--no-product .section-seller-overview-horizontal__button { padding-right: 0px; }
.shop-page--no-product .section-seller-overview-horizontal__seller-info-list { padding: 1.4375rem 1.875rem; display: flex; flex-flow: row nowrap; justify-content: space-around; }
.shop-page--no-product .section-seller-overview-horizontal .section-seller-overview__item-text { display: none; }
.shop-page--no-product .section-seller-overview-horizontal .section-seller-overview__item-text--no-product { margin-left: -5px; display: inline-flex; flex-direction: column; align-items: flex-start; }
.shop-page--no-product .section-seller-overview-horizontal .section-seller-overview__item-text--no-product .section-seller-overview__item-text-name { margin-left: -1.25rem; margin-top: 0.25rem; }
.shop-page--no-product .section-seller-overview-horizontal .section-seller-overview__item-text--no-product .section-seller-overview__item-text-value { font-size: 1.0625rem; }
.shop-page--no-product .section-seller-overview-horizontal .section-seller-overview__item-icon-wrapper { color: rgb(238, 77, 45); }
.shop-page--no-product .section-seller-overview-horizontal .section-seller-overview__item-text-name { opacity: 0.56; }
.section-seller-overview-horizontal__holiday-mode { vertical-align: middle; font-size: 0.75rem; color: rgb(249, 165, 27); text-transform: capitalize; margin: 0.3125rem 0px 0.375rem; }
.section-seller-overview-horizontal__holiday-symbol { width: 0.75rem; height: 0.75rem; line-height: 0.75rem; display: inline-flex; border-radius: 50%; background-color: rgb(249, 165, 27); margin-right: 0.3125rem; align-items: center; justify-content: center; }
.section-seller-overview-horizontal__holiday-symbol > .shopee-svg-icon { flex: 0 1 auto; font-size: 0.625rem; color: rgb(255, 255, 255); stroke: rgb(255, 255, 255); }
.section-seller-overview-horizontal__active-time { vertical-align: middle; font-size: 0.75rem; color: rgba(255, 255, 255, 0.7); margin: 0.3125rem 0px 0.375rem; }
.section-seller-overview-horizontal__inactive-indicator { font-size: 0.75rem; margin: 0.3125rem 0px 0.375rem; color: rgb(255, 66, 79); }
.section-seller-overview-horizontal__online { font-size: 0.75rem; color: rgba(255, 255, 255, 0.7); text-transform: capitalize; }
.section-seller-overview-horizontal__green-dot { display: inline-block; width: 0.5rem; height: 0.5rem; border-radius: 50%; background-color: rgb(66, 171, 23); margin-right: 0.25rem; }
.section-seller-overview-horizontal__inactive-symbol { width: 0.75rem; height: 0.75rem; line-height: 0.75rem; display: inline-block; border-radius: 50%; background-color: rgb(255, 66, 79); margin-right: 0.3125rem; text-align: center; }
.section-seller-overview-horizontal__inactive-symbol > .shopee-svg-icon { font-size: 0.5rem; color: rgb(255, 255, 255); }
._3IteFh ._2gKE0A { cursor: pointer; user-select: none; height: 5rem; width: 5rem; box-sizing: border-box; border-width: 0.25rem; border-color: rgba(255, 255, 255, 0.4); }
.shop-all-product-view { margin-bottom: 5rem; }
.shop-all-product-view .shopee-page-controller { margin-top: 2.5rem; }
.shop-sold-out-items-view { margin: 1.25rem 0px 5rem; }
.shop-page__all-products-section { display: flex; margin: 1.875rem 0px 5rem; }
.shop-page__all-products-section .shop-all-product-view { min-width: 0px; flex: 1 1 0%; }
.shop-page__all-products-section + .shop-sold-out-items-view { margin-top: -3.75rem; }
.shop-page__no-product-placeholder { height: 37.5rem; background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9bdd8040b334d31946f49e36beaf32db.png") 50% center / 12.5rem no-repeat; }
.shop-page__no-product-placeholder .shop-page__no-product-placeholder-text { position: relative; top: 25rem; text-align: center; font-size: 1.0625rem; }
.shop-search-page { padding-top: 1.25rem; padding-bottom: 1.25rem; }
.shop-search-page__breadcrumb-link { text-decoration: none; display: flex; align-items: center; color: rgba(0, 0, 0, 0.8); text-transform: uppercase; margin-bottom: 1.25rem; }
.shop-search-page__breadcrumb-link > .icon-arrow-left { font-size: 0.75rem; margin-right: 0.3125rem; }
.shop-search-page__body-section { display: flex; }
.shop-search-page__right-section { box-sizing: border-box; flex-basis: 84.4%; max-width: 84.4%; }
.shop-search-page__left-section { flex-basis: 16.6%; max-width: 16.6%; box-sizing: border-box; padding-right: 0.625rem; }
.shop-search-page__filter-wrapper { background: rgb(255, 255, 255); padding: 0px 1.25rem 1.25rem; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; border-radius: 0.125rem; overflow: hidden; }
.shop-search-page .shopee-seller-portrait { border-top-left-radius: 2px; border-top-right-radius: 2px; }
.shop-search-page .shopee-page-controller { margin-top: 2.5rem; margin-bottom: 3.75rem; }
.shop-search-page .shopee-shop-collection-filter { margin-bottom: 1.875rem; }
.shop-search-page .shopee-filter-group__header, .shop-search-page .shopee-price-range-filter__header { font-weight: 500; text-transform: uppercase; }
.shop-search-page .shopee-filter-group { border: none; }
.shop-search-page .shopee-filter-group .shopee-checkbox__control { font-weight: 400; color: rgba(0, 0, 0, 0.54); }
.shop-search-page .shopee-price-range-filter__input { flex: 1 0 2.5rem; width: auto; min-width: 0px; }
.shop-search-page .shopee-price-range-filter__range-line { flex: 0 0 0.4375rem; margin: 0px 0.5625rem; }
.shop-search-page .shopee-search-reset { margin-bottom: 1.25rem; }
._1hEabl { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; min-height: 100vh; }
._1hEabl ._1J6mEA { background-color: transparent; }
.navbar-with-more-menu__item { text-decoration: none; color: rgba(0, 0, 0, 0.8); flex: 1 1 0%; display: flex; align-items: center; justify-content: center; border-bottom: 4px solid rgb(255, 255, 255); font-size: 0.9375rem; text-overflow: ellipsis; overflow: hidden; }
.navbar-with-more-menu__item--active, .navbar-with-more-menu__item:hover { cursor: pointer; color: rgb(238, 77, 45); }
.navbar-with-more-menu__item--active { border-color: rgb(238, 77, 45); transition: border-color 0.2s cubic-bezier(0.4, 0, 0.6, 1) 0s; }
.navbar-with-more-menu__item--no-overflow { white-space: nowrap; text-overflow: unset; text-align: left; }
.navbar-with-more-menu__item span { padding: 14px 10px; flex-grow: 1; text-align: center; }
.theme--ofs .more-menu__item:hover { color: rgb(208, 1, 27); }
.more-menu { position: absolute; right: 0px; top: 50px; overflow: visible; z-index: 2; }
.more-menu__arrow-container { box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; border: 1px solid rgba(0, 0, 0, 0.09); border-radius: 3px; margin-top: 14px; position: relative; overflow: visible; }
.more-menu__arrow-container::after, .more-menu__arrow-container::before { position: absolute; bottom: 100%; right: 1.5rem; border: solid transparent; content: " "; height: 0px; width: 0px; pointer-events: none; }
.more-menu__arrow-container::after { border-bottom-color: currentcolor; border-width: 10px; margin-right: -10px; }
.more-menu__arrow-container::before { bottom: calc(100% + 1px); border-bottom-color: rgba(0, 0, 0, 0.09); border-width: 10.4142px; margin-right: -10.4142px; }
.more-menu__content { background: rgb(255, 255, 255); padding: 0px 1.375rem 1.5625rem; border-radius: 3px; display: flex; position: relative; }
.more-menu__col { flex: 1 1 0%; width: 170px; flex-direction: column; }
.more-menu--no-overflow .more-menu__col { width: auto; min-width: 170px; }
.navbar-with-more-menu { min-height: 50px; }
.navbar-with-more-menu--narrow { min-height: 40px; }
.navbar-with-more-menu__wrapper { display: flex; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; }
.navbar-with-more-menu__wrapper--no-shadow { box-shadow: none; }
.navbar-with-more-menu__items { justify-content: space-around; width: 100%; }
.navbar-with-more-menu__items, .navbar-with-more-menu__more { display: flex; }
.navbar-with-more-menu__more { padding-left: 20px; position: relative; overflow: visible; user-select: none; }
.navbar-with-more-menu__more::before { content: ""; height: 20px; border-left: 1px solid rgba(0, 0, 0, 0.09); position: absolute; top: 50%; left: 0px; transform: translateY(-50%); }
.navbar-with-more-menu__more > .icon-down-arrow-filled { width: 0.6em; height: 0.6em; margin-left: 4px; }
.navbar-with-more-menu__more:hover { color: initial; border-bottom-color: transparent; }
.navbar-with-more-menu__more--show > .icon-down-arrow-filled { transform: rotate(180deg); }
