<app-m-t1-header></app-m-t1-header>
<!-- content -->
<div class="col-xs-12">
    <div class="col-xs-12 pd0">
        <div class="div-title-menu-detail">
            <span *ngIf="serviceProviderService.lang == 'th'">{{'vetsubstances'| langTh}}</span>
            <span *ngIf="serviceProviderService.lang == 'en'">{{'vetsubstances'| langEn}}</span>
        </div>
        <div class="line-c5c5c5"></div>
        <div class="col-xs-12 pd0">
            <div class="col-xs-12 pd0" style="margin: 20px 0px; height: 120vw;">
                <img src="{{modelDetail.imageUrl}}" width="100%" height="100%" alt="" style="border-radius: 30px;">
            </div>
            <div class="col-xs-12">
                <div class="div-title-detail">{{modelDetail.title}}</div>
                <div style="height: 15px;"></div>
                <div class="df">
                    <div class="mainbox pd0">
                        <input type="checkbox" id="check">
                        <label *ngIf="serviceProviderService.lang == 'th'"  for="check" class="kanit_s c-white pointer news-share">แชร์</label>
                        <label *ngIf="serviceProviderService.lang == 'en'" for="check" class="kanit_s c-white pointer news-share">share</label>
                        <div class="div-media-icons-enews pointer">
                            <a (click)="shareWithFB()"> <i class="fab fa-facebook"></i></a>
                            <a (click)="shareWithLine()"><i class="fab fa-line"></i></a>
                            <a (click)="copyMessage('This goes to Clipboard')"><i class="fas fa-copy"></i></a>
                        </div>
                    </div>
                    <div style="width: 10px;"></div>
                    <div class="btn-action background-active pointer" (click)="downloadPDF1()">ดาวน์โหลด</div>
                </div>
                <div style="height: 50px;"></div>
                <div style="font-size: 2.5rem;">ข้อมูลเอกสาร</div>
                <div style="height: 20px;"></div>
                <div class="df fs1-7">
                    <div style="width: 100px;">ผู้แต่ง</div>{{modelDetail.author}}
                </div>
                <div style="height: 20px;"></div>
                <div class="df fs1-7">
                    <div style="width: 100px;">สำนักพิมพ์</div>{{modelDetail.publisher}}
                </div>
                <div style="height: 20px;"></div>
                <div class="df fs1-7">
                    <div style="width: 100px;">วันที่เผยแพร่</div>{{modelDetail.publishDate | dateFormat}}
                </div>
                <div style="height: 20px;"></div>
                <div class="df fs1-7">
                    <div style="width: 100px;">หมวดหมู่</div>{{modelDetail.categorytitle}}
                </div>
                <div class="df fs1-7 mt15">
                    <div style="width: 100px;">ประเภทไฟล์</div>PDF
                </div>
                <div class="df fs1-7 mt15">
                    <div style="width: 100px;">จำนวนหน้า</div>{{modelDetail.numberOfPages}}
                </div>
                <!-- <div class="df fs1-7 mt15">
                    <div style="width: 100px;">ขนาด</div>10 MB
                </div> -->
                <div style="height: 40px;"></div>
                <div *ngIf="serviceProviderService.lang == 'th'" [innerHTML]="modelDetail.description | safeHtml">
                </div>
                <div *ngIf="serviceProviderService.lang == 'en'" [innerHTML]="modelDetail.descriptionEN | safeHtml">
                </div>
                <div style="height: 80px;"></div>
            </div>

        </div>
        <div class="col-xs-12">
            <div class="mt40 fs2" style=" display: flex; justify-content: center">
                <button style=" display: flex;
                height: 100%;
                align-items: center;border-radius: 15px;background-color: #E19B24;border-color: #E19B24;
                justify-content: center;width: 17%;padding: 10px;"
                    *ngIf="modelDetail.linkUrl != '' && modelDetail.textButton != ''" (click)="openRef()">
                    <div style="color: #fff;">
                        <p [innerHtml]="modelDetail.textButton"> </p>
                    </div>
                </button>

            </div>
        </div>

    </div>
</div>
<app-m-t1-footer></app-m-t1-footer>